@import "default";

.no-padding{
	padding: 0;
}

.topbackground{
	img{
		width: 100%;
	}
}
.header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;

	
	.row{
		position: relative;
		height: 20px;
		
		.logo{
			margin-top: 40px;
		}
		
		.nav{
			ul{
				    background-color: #fff;
				    margin-left: 80px;
				    margin-top: 0;
				    border-bottom-left-radius: 10px;
				    border-bottom-right-radius: 10px;
				    padding: 20px 0 14px 28px;
				li{
					list-style: none;
					display: inline-block;
					padding: 0 12px;
					border-right: 1px solid #6a8ec0;
					line-height: 15px;
	
					a{
						font-family: $dimbold;
						font-size: 12px;
						color: #0054a5;
					}

					&:last-child{
						border-right: none;
					}
				}
			}
		}
		
		.menu{
			padding-top: 25px;
			
			.fa {
				font-size: 22px;
			}
			text-align: left;
			
			.search{
				color: #fff;
				margin: 0;
   			 	padding: 0;

				.selectsearch{
					    margin-right: 30px;
					    font-size: 21px;
					    font-family: $dimlight;
					    padding: 0px 0;
					    display: inline-block;
					    width: 60px;
					    background-color: transparent;
					    border:none;
					    color: #fff;
					    option{
					    	color: black;
					    	overflow: hidden;
					    }
				}
			}
			
			.hamburger{
				color: #fff;
				margin: 48px 0 0 0;
   			 	padding: 0;
				
				.spanham{
					    font-size: 21px;
					    padding: 0px 0;
					    display: inline-block;
					    font-family: $dimbold;
				}
				
				* {
					  margin: 0;
					  padding: 0; 
					}
				
				#nav-icon4 {
				  width: 46px;
				  height: 33px;
				  position: relative;
				  margin:  0;
				  float: right;
				  -webkit-transform: rotate(0deg);
				  -moz-transform: rotate(0deg);
				  -o-transform: rotate(0deg);
				  transform: rotate(0deg);
				  -webkit-transition: .5s ease-in-out;
				  -moz-transition: .5s ease-in-out;
				  -o-transition: .5s ease-in-out;
				  transition: .5s ease-in-out;
				  cursor: pointer;
				}
				
				#nav-icon4 span {
				  display: block;
				  position: absolute;
				  height: 7px;
				  width: 100%;
				  background: #fff;
				  border-radius: 9px;
				  opacity: 1;
				  left: 0;
				  -webkit-transform: rotate(0deg);
				  -moz-transform: rotate(0deg);
				  -o-transform: rotate(0deg);
				  transform: rotate(0deg);
				  -webkit-transition: .25s ease-in-out;
				  -moz-transition: .25s ease-in-out;
				  -o-transition: .25s ease-in-out;
				  transition: .25s ease-in-out;
				}
				/* Icon 4 */

				#nav-icon4 {
				}

				#nav-icon4 span:nth-child(1) {
				  top: 0px;
				  -webkit-transform-origin: left center;
				  -moz-transform-origin: left center;
				  -o-transform-origin: left center;
				  transform-origin: left center;
				}

				#nav-icon4 span:nth-child(2) {
				  top: 14px;
				  -webkit-transform-origin: left center;
				  -moz-transform-origin: left center;
				  -o-transform-origin: left center;
				  transform-origin: left center;
				}

				#nav-icon4 span:nth-child(3) {
				  top: 28px;
				  -webkit-transform-origin: left center;
				  -moz-transform-origin: left center;
				  -o-transform-origin: left center;
				  transform-origin: left center;
				}

				#nav-icon4.open span:nth-child(1) {
				  -webkit-transform: rotate(45deg);
				  -moz-transform: rotate(45deg);
				  -o-transform: rotate(45deg);
				  transform: rotate(45deg);
				  top: -3px;
				  left: 8px;
				}

				#nav-icon4.open span:nth-child(2) {
				  width: 0%;
				  opacity: 0;
				}

				#nav-icon4.open span:nth-child(3) {
				  -webkit-transform: rotate(-45deg);
				  -moz-transform: rotate(-45deg);
				  -o-transform: rotate(-45deg);
				  transform: rotate(-45deg);
				  top: 29px;
				  left: 8px;
				}
			}
		}	
	}
}
#menu{
		
		.mm-title{
			    color: #ffffff;
			    text-align: left;
			    margin-top: 90px;
			    font-family: $dimbold;
			    font-size: 21.04px;
			}
		.mm-navbar-top{
			    padding: 0 20px;
			    border: none;
			    .mm-btn{
					text-align: right;
				    padding-right: 20px;
				    right: 0;
				    top: 95px;
				    &:after{	
				    }
			    }

			}
		.mm-navbar-bottom{
			background-color: #032459;
		    border: none;
		    height: 95px;
		    text-align: left;
		    padding: 0 20px;
		    
			p{
				font-family: #dimblack;
			    font-size: 12.14px;
			    color: #fff;
			}
			a{
				    background-color: #fff;
				    border-radius: 30px;
				    width: 35px;
				    height: 35px;
				    margin: 18px 6px 0 0px;
				    position: relative;
				    display: inline-block;
				    color: inherit;
				    text-align: center;
			    &:before {
			   	    font-family: FontAwesome;
				    color: #063b92;
				    font-size: 20px;
				    line-height: 15px;
				}
			    &.fb{
					&:before {
						content: "\f09a";
					}
			    }
			    &.yt{
					&:before {
						content: "\f167"
					}
			    }
			    &.in{
					&:before {
						content: "\f0e1"
					}
			    }
			}
		}
		.mm-panels{
			background-color: #032459;
			top: 0;
			.mm-listview{
			       margin-top: 135px;
			       box-shadow: inset 0px 40px 84px -30px #021e4b, inset 0px -21px 84px -30px #021e4b;
					li{
						font-family: $dimreg;
						font-size: 16.53px ;
						color: #ffffff;
							&:after{
								border-bottom-style: none;
							}
					}
				}
		}
	}
.sliderhome{
		
	.background{
		
		width: 100%;
		height: 100vh;
		background-size:center top;
		overflow: hidden;
		background-repeat: no-repeat;
	}

	.caption{
		    color: #fff;
		    position: absolute;
		    z-index: 1;
		    top: 45%;
		    left: 0;

			.category{
				font-size: 25.5px;
			    padding-top: 40px;
			    clear: left;
				font-family: $dimmed;
			}

			.headline{
				margin: 0;
				font-size: 70px;
				line-height: 60px;
				padding-top: 10px;
				font-family: $dimlight;
				text-transform: uppercase;
				font-weight: normal;
				.split-char{
					font-family: $dimblack;
					display: block;
					font-weight: bold;
				}
		

			}

			.bottom{
				font-size: 70px;
				line-height: 48px;
				clear: left;
				font-family: $dimlight;
				padding-top: 10px;
			}

			.button{
				margin-top: 30px;
				button{
					border: solid 1px #fff;
					border-radius: 8px;
					background-color: transparent;
					color: #fff;
					font-size: 20px;
					padding: 5px 10px;
					&:hover{
						background-color: #00509e;
						border: solid 1px #00509e;
					}

				}
			}
	}

		
	

	.flex-direction-nav{
		li{
			position: absolute;
			top: 50%;
			
			&.flex-nav-prev{
				left: 10px;
				z-index: 2;
			}
			
			&.flex-nav-next{
				right: 10px;
				z-index: 2;
			}
		}
	}
}
.menubar{
	position: relative;
	background-image: url(../img/bgmenu.jpg);
	.titlemenu{
		top: 0;
		font-size: 40.61px;
		color: #ffffff;
		margin-top: 40px;
		span{
			font-family: $dimlight;
		}
		strong{
			font-family: $dimbold;
		}
	}
	.menu{
		ul{
			padding: 0;
			margin-top: 40px;
			li{
				list-style-type: none;
				a{
					text-decoration: none;
					font-size: 14.21px;
					color: #6b99ae;
					position: relative;
					padding-top: 20px;
					display: inline-block;
					line-height: 18px;
					font-family: $dimmed;

					&:before{
						position: absolute;
						content: "";
						width: 100%;
						height: 8px;
						top: 0;
						left: 0;
						border-radius: 10px;
					}
					&:hover{
						color: #ffffff;
						&:before{
							background-color: #ffffff;
						}
					}
				}
			}
		}
	}
}
.submenubar2{
	position: relative;
	background-color: #03417e;
	height: 80px;
	.slidesubmenu{
		background-color: transparent;
		.slides{
			margin: 0;
			padding: 0;
			li{
				position: relative;
				padding: 12px 0;
				.current{
					color: #ffffff;
					&:before{
						border-style: solid;
						border-color: #00aeff transparent transparent transparent;
						_border-color: #00aeff #000000 #000000 #000000;
						_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
					}
				}
				a{
					display: inline-block;
				    font-family: "dimproreg", "Roboto", sans-serif;
				    color: #356798;
				    font-size: 14.84px;
				    display: table-cell;
				    height: 40px;
				    vertical-align: bottom;
				    line-height: 15px;
					&:before{
						position: absolute;
						content: "";
						width: 0;
						height: 0;
						bottom: 0;
						right: 70%;
						border-style: none;
						border-width: 8.7px 5px 0 5px;
						line-height: 0px;
					}
					&:hover{
						color: #ffffff;
						&:before{
							border-style: solid;
							border-color: #00aeff transparent transparent transparent;
							_border-color: #00aeff #000000 #000000 #000000;
							_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
						}
					}
				}
			}
		}
		.flex-direction-nav{
			li{
				position: absolute;
    			top: 50%;
    			a{
    				height: 47px;
					&:before{
					    font-size: 30px;
					    color: rgba(255, 255, 255, 0.8);
					    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
					    font-weight: 1;
					}
    			}
    			
    			&.flex-nav-prev{
    				left: 50px;
    				z-index: 2;
    			}
    			
    			&.flex-nav-next{
    				right: 50px;
    				z-index: 2;
    			}
			}
		}	

	}
}
.submenubar{
	position: relative;
	background-color: #03417e;
	height: 65px;
	ul{
		li{
			position: relative;
			padding: 20px;
			.current{
					color: #ffffff;
						&:before{
						border-style: solid;
						border-color: #00aeff transparent transparent transparent;
						_border-color: #00aeff #000000 #000000 #000000;
						_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
						}
				}
			a{
				display: inline-block;
				font-family: $dimreg;
				color: #356798;
				font-size: 14.84px;
				&:before{
						position: absolute;
						content: "";
						width: 0;
						height: 0;
						bottom: 9px;
						right: 50%;
						border-style: none;
						border-width: 8.7px 5px 0 5px;
						line-height: 0px;
					}
					&:hover{
						color: #ffffff;
						&:before{
						border-style: solid;
						border-color: #00aeff transparent transparent transparent;
						_border-color: #00aeff #000000 #000000 #000000;
						_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
						}
					}
			}
		}
	}
}
.latestnews{
	padding-top: 36px;

	.latestnews-title{
		.latestnews-title1{
			color:#b3b3b3;
			font-family: $dimlight;
			font-size: 38.5px;
			line-height: 39px;

		}

		.latestnews-title2{
			color:#b3b3b3;
			font-size: 38.5px;
			font-family: $dimbold;
			line-height: 30px;
		}
	}

	.latestnews-content{
		ul{
			margin: 0;
			li{
				display: inline-block;
				// border-right: solid 1px #b2b2b2;
				margin-right: 5px;
    			margin-left: 5px;

				
				.date{
					line-height: 14px;
					a{
						color: #666666;
						text-decoration: none;
						font-family: $dimmed;
						font-size: 13px;
						display: inline-block;

					}

				}
				
				.news{
					padding-top: 5px;
    				line-height: 20px;

					a{
						color: #0054a5;
						text-decoration: none;
						font-family: $dimbold;
						font-size: 20px;
						display: inline-block;
						padding-right: 30px;
					}

				}
				
				&:last-child{
						border-right: none;
				}	
			}
		}

			.flex-direction-nav{
					a{
						position: absolute;
						height: 47px;
    					margin: -40px -37px 0;

					}
				}
	}
}

.about
	{	
		-webkit-box-shadow: 0px 21px 50px -13px rgba(0, 0, 0, 0.45);
   		-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.45);
   		 box-shadow: 0px 0px -1px 0px rgba(0, 0, 0, 0.45);
		margin-top: 20px;
		background-color:#fff;
		padding-left:14px;
		z-index: 1;
		
		/*&:before
		{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			background-color: #0054a5;
			width: 14px;
		}*/
		
		.aboutnav{
			padding-top: 25px;

			.aboutnavtitle{
				padding: 6px 0;
				span{
					color: #00adef;
					font-size: 18.5px;
					font-family: $dimbold;
				}
			}
			
			.aboutcontent{
				ul{
					margin: 0;
					li{
						list-style: none;
						display: inline-block;
						padding: 0 25px;
						a{
							text-decoration: none;
							font-size: 22px;
							color: #b3b3b3;
							font-family: $dimlight;
							padding: 6px 30px;
							
							&:hover{
								color: #fff;
								background-color:#00adef;
								font-family: $dimbold;
							}
						}						
					}
				}
			}
		}
		
		.contentabout{
			    margin-top: 20px;
			    background-image: url(../img/bgcontent.jpg);
			    background-repeat: no-repeat;
			    background-position: -111px 0px;
			    .titlecontent{
			    	position: relative;
			    	bottom: 0px;
			    	left: 0px;
			    	right: 0px;
			    	top: 0px;
			    	background-position: right bottom;
			    	
			    	.caption{
			    		position: relative;
					    z-index: 10;
					    left: 0px;
					    font-size: 48.7px;
					    line-height: 46px;
					    color: #b5b5b5;
					    font-family: $dimlight;
			    		span{
			    			color:#0054a5;
			    			font-family: $dimblack;
			    		}
			    	}
			    }

			    .textcontent{
			    	padding: 50px 0 60px 65px;
			    	font-family: $dimlight;
			    	.uppertext{
						color: #8e8e8e;
						font-size: 27px;
						    line-height: 30px;
						
			    	}
			    	
			    	.bottomtext{
			    		margin-top: 30px;
    					font-size: 14px;
    					font-family: $dimreg;
    					line-height: 25px;
   					 	color: #979797;
			    	}
			    }
		}
	}

.contentcore{
	clear: left;
	background-image: url(../img/background_main_menu.jpg);
	background-position: top center;
	background-size: cover;
	.rowcontent{
		width: 1292px;
		margin: 135px auto;
		display: table;
		.left{
			.topleft{
				height: 348px;
				background-color: #ffffff;
				padding: 32px;
				position: relative;
				span{
					font-size: 24.86px;
					font-family: $dimlight;
					color: #0054a6;
					line-height: 0;
				}
				strong{
					font-size: 24.86px;
					font-family: $dimbold;
					color: #0054a6;
					line-height: 0;
				}
				.ptpp{
					font-size: 17.05px;
					font-family: $dimlight;
					color: #0054a6;
					line-height: 5px;
				}
				.exchange{
					display: table;
					background-color: #00437e;
					padding: 15px  23px;
					.caption{
						padding-left: 5px;
						padding-top: 3px;
						display: table;
						.stock{
							font-family: $dimbold;
							font-size: 27.75px;
							color: #fff;
						}
						.index{
							font-family: $dimlight;
							font-size: 12.91px;
							color: #fff;
						}
					}
					.date{
						text-align: right;
						.realdate{
							font-family: $dimlight;
							font-size: 17.23px;
							color: #fff;
						}
						.realtime{
							font-family: $dimlight;
							font-size: 17.23px;
							color: #fff;
						}
					}
				}
				.detailindex{
					padding-top: 10px;
						p{
							font-family: $dimlight;
							font-size: 12.58px;
							color: #000000;
							margin: 0;
						}
				}
				.viewdetail{
					margin-top: 15px;
					li{
						list-style-type: none;
						position: relative;
						margin-left: 40px;
						a{
							font-size: 12.69px;
							font-family: $dimlight;
						}
						&:after{
							position: absolute;
							display: inline-block;
						    font-size: 14px;
						    background-color: #0054a6;
						    padding: 5px;
						    width: 18px;
						    height: 18px;
						    content: "";
						    top: 3px;
    						left: -30px;
						    position: absolute;
						    border-radius: 18px;
						}
					}
				}
			}
			.midleleft {
				height: 348px;
				position: relative;
				&:after {
					left: 99.5%;
				    top: 25%;
				    border: solid transparent;
				    content: " ";
				    height: 0;
				    width: 0;
				    position: absolute;
				    pointer-events: none;
				    border-color: rgba(66, 96, 121, 0);
				    border-left-color: #3b596f;
				    border-width: 20px;
				    margin-top: -30px;
				    z-index: 1;
				}
			}
			.leftmidcaption{
				height: 173px;
				padding-top: 66px;
				padding-bottom: 36px;
				padding-left: 4px;
				color: #fff;
				h1{
					margin: 0;
    				line-height: 38px;
    				font-family: $dimlight;
    				font-size: 44.04px;
				}
				h2{
					margin: 0;
					line-height: 40px;
					font-family: $dimbold;
    				font-size: 44.04px;
				}
			}
			.leftbot{
				padding-right: 15px;
    			overflow: hidden;
    			background-repeat: no-repeat;
    			height: 348px;
    			position: relative;
    			img{
    				width: auto;
    				max-width: inherit;
    			}
    			.caption{
    				position: absolute;
				    bottom: 28px;
				    left: 38px;
				    color: #ffffff;
    				h3{
    					font-size: 35.2px;
					    font-family: "dimprolight", "Roboto", sans-serif;
					    margin: 0;
					    line-height: 44px;
    				}
    				h2{
    					font-size: 22.1px;
					    font-family: "dimprobold", "Roboto", sans-serif;
					    margin: 0;
					    line-height: 25px;
    				}
    			}
    			.flex-control-nav {
				    width: 100%;
				    position: absolute;
				    bottom: 100px;
				    text-align: center;
				    z-index: 2;
				    left: -141px;
				    li{
				    	a{
				    		background-color: #ffffff;
				    		&.flex-active{
							background: #00c6ff;
				    		}
				    	}
				    }
				}

			}
		}
		.middle{
			.topmiddle{
				height: 348px;
				padding: 32px;
				position: relative;
				p{
					font-family: "dimprolight", "Roboto", sans-serif;
				    font-size: 21.25px;
				    color: #ffffff;
				    line-height: 22px;
				    padding: 0;
				    padding-right: 35%;
				    margin: 0;
				}
				.director{
					    margin-top: 13px;
					    padding: 0;

					    strong{
					    	font-family: $dimbold;
					    	font-size: 11.7px;
					    	color: #fff;
					    }
				}
				.title{
					margin-top: 2px;
				    padding: 0;
				    line-height: 0;
					span{
					    	font-family: $dimlight;
					    	font-size: 11.7px;
					    	color: #fff;
					    }
				}
				.viewdetailmid{
					    margin-top: 19px;
					li{
						list-style-type: none;
						position: relative;
						margin-left: 40px;
						a{
							font-size: 12.69px;
							color: #ffffff;
							font-family: $dimlight;
						}
						&:after{
							position: absolute;
							display: inline-block;
						    font-size: 14px;
						    background-color: #fdb84b;
						    padding: 5px;
						    width: 18px;
						    height: 18px;
						    content: "";
						    top: 3px;
    						left: -30px;
						    position: absolute;
						    border-radius: 18px;
						}
					}
				}
			}
			.midmiddle{
				height: 348px;
				background-color: #efefef;
   				padding: 10.5px 50px 10px 65px;
				.midmidleinside{
					ul{
						:first-child{
							border-top: none;
						}
						margin: 0;
    					padding: 0;
						li{
							list-style-type: none;
						    border-top: 1px solid #b6b6b6;
						    margin-top: 2px;
							
							.date{
								font-family: $dimlight;
								font-size: 10.55px;
								margin-top: 4px;

							}
							.title{
								font-family: $dimbold;
								font-size: 18.09px;
								color: #0054a6;
								line-height: 18px;
							}
							p{
								font-family: $dimmed;
								font-size: 11.5px;
								color: #949494;
								margin: 0;
								line-height: 1.25;
								padding-bottom: 4px;
							}
						}
					}
				}
			}
			.middlecaption{
				height: 173px;
				padding-top: 66px;
				padding-bottom: 36px;
				padding-left: 4px;
				color: #fff;
				h1{
					margin: 0;
    				line-height: 38px;
    				font-family: $dimlight;
    				font-size: 44.04px;
				}
				h2{
					margin: 0;
					line-height: 40px;
					font-family: $dimbold;
    				font-size: 44.04px;
				}
			}
			.botmiddle{
				height: 348px;
				position: relative;
				padding-left: 28px;
				padding-top: 34px;
				padding-bottom: 28px;
				padding-right: 28px;
				background-color: #efefef;
				ul{
					margin: 0;
					li{	
						position: relative;
						list-style-type: none;
						padding-bottom: 5px;
						border-bottom: 1px solid #949494;
						strong{
							text-transform: uppercase;
							font-family:$dimbold;
							color: #105eab;
							font-size: 18.01px;
							font-weight: normal;
						}
						p{
							font-family:$dimreg;
							margin: 0;
							color: #949494;
							font-size: 14px;
							line-height: 1.4;
						}
						&:before{
							position: absolute;
						    left: -30px;
						    content: '\f041';
						    font-family: FontAwesome;
						    font-weight: normal;
						    font-style: normal;
						    font-size: 26px;
						    text-decoration: none;
						    color: #0094fb;
						}
						&:last-child{
							border-bottom: none;
						}
					}
				}
			}
		}
		.right{
			.topright{
				height: 348px;
				padding: 32px;
				h2{
					font-family: $dimlight;
					font-size: 25.09px;
					color: #ffffff;
					margin: 0;
    				line-height: 1;
				}
				.annual{
					h1{
						font-family: $dimbold;
						font-size: 48.4px;
						color: #ffffff;
						margin: 0;
	    				line-height: 1;
					}
				}
				.viewdetailright{
					margin-top: 140px;
					li{
						list-style-type: none;
						position: relative;
						margin-left: 40px;
						a{
							font-size: 12.69px;
							color: #ffffff;
							font-family: $dimlight;
						}
						&:after{
							position: absolute;
							display: inline-block;
						    font-size: 14px;
						    background-color: #fdb84b;
						    padding: 5px;
						    width: 18px;
						    height: 18px;
						    content: "";
						    top: 3px;
    						left: -30px;
						    position: absolute;
						    border-radius: 18px;
						}
					}
				}				
			}
			.midright{
				height: 695px;
				padding: 32px;
				position: relative;
				.title{
					font-family: $dimbold;
					font-size: 21.96px;
					margin: 0;
					color: #fff;
				}
				.caption{
					margin-top: 280px;
					font-family: $dimbold;
					font-size: 41.45px;
					color: #fff;
					line-height: 42px;
				}
				.button{
						margin-top: 30px;
						button{
							border: solid 1px #fff;
							border-radius: 8px;
							background-color: transparent;
							color: #fff;
							font-size: 20px;
							padding: 5px 10px;
							&:hover{
								background-color: #00509e;
								border: solid 1px #00509e;
							}

						}
					}
			}
		}
	}
}

//content
.mng{
	background-color: #f9f9f9;
	.isi{
		// &:after{
		// 	content: '';
		//     position: absolute;
		//     right: 0;
		//     top: 0;
		//     width: 69%;
		//     display: block;
		//     background-color: #f9f9f9;
		//     z-index: -1;
		//     /* height: 100%; */
		//     bottom: 0;
		//     margin-top: -63px;
		// 	@media screen and (max-width: 1366px){
		//     	width: 75%;
		// 	}
		// }
		padding: 0;
		
		.submenu{
			ul{
				padding: 0;
				margin: 0;
				margin-top: 200px;
				li{
					position: relative;
					background-color: #bad5f0;
				    margin-bottom: 2px;
				    list-style-type: none;
				    padding: 7px 36px;
					
					&:hover{
						background-color: #024280;
						
						&:after{
						    right: -45px;
						    top: 50%;
						    border: solid transparent;
						    content: " ";
						    height: 0;
						    width: 0;
						    position: absolute;
						    pointer-events: none;
						    border-color: rgba(136, 183, 213, 0);
						    border-left-color: #024280;
						    border-width: 23px;
						    margin-top: -23px;
						    z-index: 2;
						}
					}
					
					a{
						text-decoration: none;
						color: #f7fbfe;
						font-size: 21px;
						font-weight: bold;
						font-style: italic;
					}
				}
			}
		}
	}
}

.konten{
	//background-color: #f9f9f9;
	
	.headerkontent{
		.judul{
			.khusus{
				
				padding: 50px 0px 20px;
				.judul_{
    			h3{
					.fa-caret-right{
						color: #024281;
					}
			    	color: #858585;
			    	font-size: 14.21px;
			    	font-family: $dimlight;
			    	span{
			    		color: #03417e;
			    		font-family: $dimlight;
			    	}
				}	
    		}
    	}
    		

    		.stp{
				padding: 0;

				.cari{
					margin-top: 38px;
					input[type=text]{
						height: 36px;
						padding: 4px;
						width: 210px;
						float: right;
						margin-right: 35px;
					}
					button{
						position: absolute;
						top: -1px;
						right: 0;
						width: 36px;
						height: 37px;
						background-color: #024280;
						color: #fff;
						font-size: 20px;
						font-family: $dimreg;
					}
				}
					
				.customstp{
					display: inline-block;
					text-align: right;
						.tulisan{
							h2{
								color: #646464;
								padding: 0;
								margin: 0;
								font-size: 14px;
								vertical-align: center;
								display: inline-block;
							}
						}
						
						.gambarstp{
							display: inline-block;
							ul{
								padding: 0;
								margin:0;
								margin-left: 16px;
								li{
									list-style: none;
									display: inline-block;
									background-color: #000000;
									padding: 4px;
									text-align: center;
									a{
										font-size: 1px;
										text-decoration: none;
										color: #ffffff;
										font-weight: bold;
										display: inline-block;
										width: 20px;
										height: 20px;
										line-height: 20px;
										padding: 0 2px;
										text-align: left;
										vertical-align: middle;
										font-weight: bold;
										i{
											&.fa{
												font-size: 19px;
											}
												
											&.fa-facebook{
											}
										}
									}
								}
							}	
						}
					}
				}
			
			h1{
				margin: 0;
				color: #03417e;
			}
		}
		
		.lepin{
			border-top: solid 1px #959595;
			a{
				background-image: url(../img/merah.jpg);
				text-decoration: none;
				font-size: 10.31px;
				width: 58px;
				float: right;
				padding-bottom: 15px;
				padding-top: 15px;
				text-align: center;
				color: #ffffff;
				line-height: 15px;
				display: inline-block;
				strong{
					font-size: 24.01px;
				}
			}

		}
		.pdf{
			border-top: solid 1px #959595;
			a{
				background-image: url(../img/merah.jpg);
				text-decoration: none;
				font-size: 10.31px;
				width: 58px;
				float: right;
				padding-bottom: 15px;
				padding-top: 15px;
				text-align: center;
				color: #ffffff;
				line-height: 15px;
				display: inline-block;
				strong{
					font-size: 24.01px;
				}
			}
		}
		
		.board{
			padding: 0;
			h1{
				padding-bottom: 40px;
				line-height: 30px;
				font-weight: bold;
				font-family: $dimbold;
			}						
		}
		.board_governance{
		padding: 0;
		padding-bottom: 40px;
		h1{
			line-height: 30px;
			font-weight: bold;
			font-family: $dimbold;
			line-height: 40px;
		}
		h2{
			font-size: 17.38px;
			color: #828282;
			margin: 0;
		}
	}
		.report{
			table{
				width: 100%;
				td{
					text-align: right;
					padding: 0 30px;
					font-size: 17px;
					color: #666666;
					font-family: $dimreg;
					&:first-child{
						text-align: left;
						color: #000000;
						line-height: 35px;
						
					}
				}

				tr{
					padding-bottom: 20px;
					background-color: #ffffff;
					&:first-child{
						background-color: #0054a6;
						td{
							color: #ffffff;
							font-size: 23.74px;
							padding: 10px 26px;

							&:first-child{
								font-size: 17px;
								font-family: $dimbold;
							}
						}
					}
					&:nth-of-type(2){
						td{
							padding-top: 30px;
						}
					}
					&:last-child{
						td{
							padding-bottom: 40px;
						} 
					}

				}
			}
		}

		.merah{
			padding: 20px 0;
			a{
				text-decoration: none;
				float: right;
				text-align: center;
				color: #ffffff;
				display: inline-block;
				background-color: #ff0000;
				font-weight: bold;
				padding: 15px 55px;
				font-size: 17.18px;
			}
		}

		.doc{
			span{
				font-size: 22.87px;
				color: #03417e;
				font-family: $dimbold;			}
		}		
		
		.annual{
			ul{
				.square{
					padding: 0;
					text-align: center;
					padding-top: 40px;
					.merah{
						a{
							float: none;
						}
					}
					.tahun{
						text-align: center;
						font-size: 21.18px;
						color: #787878;
						font-family: $dimreg;
						padding-bottom: 20px;
					}
				}
			}
		}

		.detaildoc{
			height: 220px;
			overflow: hidden;
			padding: 0 20px;
			p{
			text-transform: uppercase;
			font-size: 21.18px;
			color: #03417e;
			margin: 0;
			padding-top: 30px;
			font-family: $dimbold;
			line-height: 31.04px;
			}

			.reports{
				font-size: 14px;
				color: #808080;
				margin: 0;
				padding-top: 20px;
				font-family: $dimreg;
			}
		}


		.commissioner{	
			.empnewslist{
				padding: 0;
				overflow: hidden;
				ul{
					padding: 0;
					margin-top: 27px;
					li{
						img{
							width: 100%;
						}
						.listnewscap{
							background-color: #fff;
							border: solid 1px #f2f2f2;
							padding: 10px 34px;
							height: 175px;
							span{
								color: #a3b2c7;
    							font-size: 14px;
    							line-height: 22.8px;
							}

							h1{
								margin: 0;
							    line-height: 22px;
							    font-size: 17px;
							    font-weight: bold;
							    padding-top: 14px;
							    color: #024280;
							}
							
							h2{
								a{
									    text-decoration: none;
									    font-size: 15px;
									    color: #9dc4ff;
								}
							}
						}
					}
				}
			}
			
			.empmilestone{
				overflow: hidden;
				padding: 0px 80px;
				float: none;
				margin-top: 20px;
				
				&:after{
					content: "";
					top: 8%;
				    bottom: 15%;
				    left: 50%;
				    background-color:#00bff3;
				    width: 5px;
				    position: absolute;
				}
				
				ul{
				 	margin:0;
				 	li{
				 		position: relative;
				 		
				 		&:after{
				 			position: absolute;
				 			content: "";
				 			width: 30px;
						    height: 30px;
						    top: 0;
						    z-index: 2;
						    border-radius: 100%;
						    border: 4px #fff solid;
						    background-color: #0699de;
						   -webkit-box-shadow: 0px 10px 29px 3px rgba(0,0,0,0.19);
							-moz-box-shadow: 0px 10px 29px 3px rgba(0,0,0,0.19);
							box-shadow: 0px 10px 29px 3px rgba(0,0,0,0.19);
					 		}
				 		
				 		span{
				 		display: block;
					    color: #034380;
					    font-size: 20px;
					    line-height: 30px;
					    margin: 0px 0 10px;
					    padding-bottom: 5px;
					    font-weight: bold;
				 		}
						
						&:nth-child(odd){
							color: #878787;
							font-size: 13px;
							margin-top: 10px;	
				 			padding-right: 60px;
				 			
				 			&:after{
				 				right: -17px;
				 				top: 20%;
				 			}
				 			
				 			.boxmile{
				 				padding: 20px;
				 				position: relative;
				 				background-color: #fff;
								-webkit-box-shadow: 0px 10px 40px -1px rgba(0,0,0,0.18);
								-moz-box-shadow: 0px 10px 40px -1px rgba(0,0,0,0.18);
								box-shadow: 0px 10px 40px -1px rgba(0,0,0,0.18);
								
								&:after{
									left: 100%;
									top: 25%;
									border: solid transparent;
									content: "";
									height: 0;
									width: 0;
									position: absolute;
									pointer-events: none;
									border-color: rgba(255, 255, 255, 0);
									border-left-color: #fff;
									border-width: 25px;
									margin-top: -25px;


								}
				 			}
						}
						
						&:nth-child(even){
							color: #878787;
							font-size: 13px;
							margin-top: 120px;
				 			padding-left: 60px;
				 			
				 			&:after{
				 				left: -13px;
				 				top: 20%;
				 			}
				 			
				 			.boxmile{
				 				padding: 20px;
				 				background-color: #fff;
				 				position: relative;
				 				-webkit-box-shadow: 0px 10px 40px -1px rgba(0,0,0,0.18);
								-moz-box-shadow: 0px 10px 40px -1px rgba(0,0,0,0.18);
								box-shadow: 0px 10px 40px -1px rgba(0,0,0,0.18);
				 				
				 				&:after{
				 					right: 100%;
									top: 25%;
									border: solid transparent;
									content: " ";
									height: 0;
									width: 0;
									position: absolute;
									pointer-events: none;
									border-color: rgba(255, 255, 255, 0);
									border-right-color: #fff;
									border-width: 25px;
									margin-top: -25px;
				 				}
				 			}

						}
						
						&:first-child{
				 			padding-top: 0;
				 		}
				 	}
				 }
			}
			
			.empnews{
				padding: 0px;
				 height: 332px;
				 overflow: hidden;
				
				.empnewsheader-left{
					img{
						width: 100%;
					}
				}
				
				.empnewsheader-right{
					    background-color: #024280;
					    padding: 32px 35px;
					    height: 100%;

					.triangle{
						width: 0;
					    height: 0;
					    border-top: 26px solid transparent;
					    border-right: 27px solid #024280;
					    border-bottom: 26px solid transparent;
					    position: absolute;
					    top: 139px;
					    left: -25px;
					}
					
					span{
						color: #a5b1c7;
						margin-bottom: 28px;
						font-size: 16px;

					}
					
					h1{
						line-height: 24px;
					    font-size: 22px;
					    color: #fff;
					    
					}
					
					h2{
						margin: 10px 0;
    					a{
    						text-decoration: none;
    						color: #fff;
    						font-size: 20px;
    					}
					}
				}
			}
			
			
			.emp{
				padding: 0px;
				ul{
					padding:0;
					margin: 0;
					list-style-type: none;
					li{
						
						float: left;
						width: 100%;
						padding-bottom: 50px;
						position: relative;

						.custom{
							padding: 50px 50px;
							background-color: #ffffff;
							overflow: hidden;
							z-index: 2;
							
							.caption{
								position: absolute;
   								top: 26px;
   					 			right: 0px;
    							z-index: 2;
    							left: 220px;
    							h2{
									font-weight: bold;
									margin: 0;
									font-size: 20px
								}
								h3{
									color: #02427f;
									margin: 0;
									line-height: 18px;
									font-weight: bolder;
								}
							}
						}
						
						&:after{
							content: "";
							position: absolute;
							width: 50%;
							height: 10px;
							border-radius: 100%;
							box-shadow: 0px -65px 39px 9px #000;
							left: 25%;
							bottom: 0;
						}

						&:before{
							content: "";
							position: absolute;
							width: 50%;
							height: 10px;
							border-radius: 100%;
							box-shadow: 0px 20px 39px 9px #000;
							left: 25%;
							top: 0;
						}

						p{
							margin: 0;
							border-left: solid 1px #babab9;
							padding: 0px 40px;
						}
					}
				}
			}

			.desc{
				padding: 0px 50px;
				p{
					margin: 0;
				}
			}
		}
		
		.despad{
			padding-top: 60px
		}
		.description{
			padding-bottom: 40px;
			
			.right{
					p{
					font-family: $dimreg;
				    font-size: 13.99px;
				    color: #070707;
				    line-height: 20.98px;
				    padding: 0 20px;
					}
				}
				
			.headline{
				padding-left: 0;
				padding-right: 44px;
				position: relative;
				span{
					    position: absolute;
					    top: 0;
					    right: 48px;
					    background-color: blue;
					    /* height: 100px; */
					    padding: 40px;
					    width: 355px;
					    font-family: "dimproreg", "Roboto", sans-serif;
					    font-size: 21.99px;
					    color: #fff;
					    line-height: 24.98px;
					    background-color: #042a66;
				}
				p{
					color: #070707;
					font-size: 18.99px;
					font-family: $dimreg;
					line-height: 20.98px; 

				}
			}
			.headline2{
				padding-left: 0;
				padding-right: 44px;
				position: relative;
				span{
					    position: absolute;
					    top: 0;
					    right: 48px;
					    background-color: blue;
					    /* height: 100px; */
					    padding: 40px;
					    width: 355px;
					    font-family: "dimproreg", "Roboto", sans-serif;
					    font-size: 21.99px;
					    color: #fff;
					    line-height: 24.98px;
					    background-color: #042a66;
				}
				p{
					color: #070707;
					font-size: 18.99px;
					font-family: $dimreg;
					line-height: 20.98px; 

				}
			}
			
			p{
				color: #808080;
				margin: 0;
				font-size: 13.99px;
				font-family: $dimreg;
				line-height: 17.98px;
			}
			
			.text{
				p{

					margin: 0;
					padding: 0px 94px;
					color: #929292;
					padding-bottom: 50px;
					padding-top: 40px;
				}
				
				.box{
					position: relative;
					img{
						width: 100%;
					}
					
					.bungkus{
						    margin-bottom: 30px;

						
						.caption{
							    position: relative;
							    top: 0;
							    margin-top: -150px;
							    right: 33px;
							    float: right;
							    width: 475px;
							    background-color: rgba(1, 65, 127, 0.82);
							    padding: 34px 40px 17px;
							span{
								color: #fff;
							    font-size: 20px;
							    font-weight: bold;
							}
							h3{
								margin-bottom: 0;
							    margin-top: 20px;
							    font-size: 16px;
							    color: #748bab;
							}
							h4{
								margin-bottom: 0;
							    margin-top: 4px;
							    font-size: 16px;
							    color: #748bab;
							}
						}
					}
				}
			}	
		}

		.policy{
			padding-bottom: 150px;
			padding-top: 50px;
			.box1{
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#03417e+0,0458aa+50,0682fc+100 */
				background: #03417e; /* Old browsers */
				background: -moz-linear-gradient(-45deg,  #03417e 0%, #0458aa 50%, #0682fc 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(-45deg,  #03417e 0%,#0458aa 50%,#0682fc 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(135deg,  #03417e 0%,#0458aa 50%,#0682fc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03417e', endColorstr='#0682fc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		
			}
			.box2{
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1665b2+0,1c83c9+50,2ccaff+100 */
				background: #1665b2; /* Old browsers */
				background: -moz-linear-gradient(-45deg,  #1665b2 0%, #1c83c9 50%, #2ccaff 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(-45deg,  #1665b2 0%,#1c83c9 50%,#2ccaff 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(135deg,  #1665b2 0%,#1c83c9 50%,#2ccaff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1665b2', endColorstr='#2ccaff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				
			}
			.judul{
				margin: 0;
				font-size: 22.99px;
				text-align: center;
				color: #ffffff;
				padding: 30px 0px;
				font-family: $dimbold;
			}
			.sub{
				margin: 0;
				font-size: 13.99px;
				color: #ffffff;
				padding: 0px 90px;
				font-family: $dimreg;
			}
			li{
				line-height: 25px;
			}
			.height{
				height: 350px;
			}
		}
		.gcgstructure{

			ul{
				margin:0;
				padding-left: 86px;

				li{
					&:first-child{
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004488+0,0081c2+35,00c0ff+100 */
						background: #004488; /* Old browsers */
						background: -moz-linear-gradient(left,  #004488 0%, #0081c2 35%, #00c0ff 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(left,  #004488 0%,#0081c2 35%,#00c0ff 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to right,  #004488 0%,#0081c2 35%,#00c0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004488', endColorstr='#00c0ff',GradientType=1 ); /* IE6-9 */

					}
					&:nth-child(2){
						background: #004488; /* Old browsers */
						background: -moz-linear-gradient(left,  #004488 0%, #0081c2 35%, #00c0ff 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(left,  #004488 0%,#0081c2 35%,#00c0ff 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to right,  #004488 0%,#0081c2 35%,#00c0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004488', endColorstr='#00c0ff',GradientType=1 ); /* IE6-9 */

					}
					&:nth-child(3){
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002c88+0,0050bb+26,00a2ff+65,007eff+100 */
						background: #002c88; /* Old browsers */
						background: -moz-linear-gradient(left,  #002c88 0%, #0050bb 26%, #00a2ff 65%, #007eff 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(left,  #002c88 0%,#0050bb 26%,#00a2ff 65%,#007eff 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to right,  #002c88 0%,#0050bb 26%,#00a2ff 65%,#007eff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002c88', endColorstr='#007eff',GradientType=1 ); /* IE6-9 */

					}
					&:last-child{
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#041d6f+0,0a389e+27,1257d4+56,1257d4+100 */
						background: #041d6f; /* Old browsers */
						background: -moz-linear-gradient(left,  #041d6f 0%, #0a389e 27%, #1257d4 56%, #1257d4 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(left,  #041d6f 0%,#0a389e 27%,#1257d4 56%,#1257d4 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to right,  #041d6f 0%,#0a389e 27%,#1257d4 56%,#1257d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#041d6f', endColorstr='#1257d4',GradientType=1 ); /* IE6-9 */

					}
					padding: 33px;
					list-style-type: none;
					background-color: blue;
					height: 129px;
					margin-bottom: 2px;
					color: #ffffff;
					h1{
						margin: 0;
						padding: 0;
						line-height: 32.98px;
						font-size: 29.98px;
						font-family: $dimlight;
					}
					h2{
						margin: 0;
						padding: 0;
						line-height: 32.98px;
						font-size: 29.98px;
						font-family: $dimbold;
					}
					p{
						font-family: $dimreg;
						font-size: 19.99px;
						line-height: 20.98px;
					
					}
					.triangle{
						width: 100%;				
						display: block;
						position: relative;
						text-align: center;
						&:after{
							content: "";
							position: absolute;
							border-style: solid;
							top: 20px;
							border-width: 32px 31.5px 0 31.5px;
							border-color: #ffffff transparent transparent transparent;
						}
					}
				}
			}
		}
		.governance{
			.height{
				height: 260px;
			}
			.judul{
				margin: 0;
				color: #ffffff;
				padding: 40px 35px;
				line-height: 30px;
				font-size: 32.02px;
				font-family: $dimbold;
			}
			.read{
				position: absolute;
				bottom: 40px;
				left: 35px;
				text-decoration: none;
				font-size: 13.49px;
				display: inline-block;
				font-family: $dimreg;
			}
			.blue1{
				color: #0167cb;
			}
			.blue2{
				color: #80c0ff;
			}
			.blue3{
				color: #4b98e4;
			}
			.grey{
				color: #b8b8b8;
			}
			.blue4{
				color: #599dde;
			}
			.blue5{
				color: #85c3ff;
			}
			.baris1{
				.kotak1{
					background-color: #03417e;
				}
				.kotak2{
					background-color: #0081ff;
				}
				.kotak3{
					background-color: #03417e;
				}
				.kotak4{
					background-color: #bbbbbb;
				}
			}
			.baris2{
				.kotak1{
					background-color: #0081ff;
				}
				.kotak2{
					background-color: #bbbbbb;
				}
				.kotak3{
					background-color: #4e4e4e;
				}
			}
			.baris3{
				.kotak1{
					background-color: #03417e;
				}
				.kotak2{
					background-color: #0081ff;
				}
				.kotak3{
					background-color: #bbbbbb;
				}
			}
		}
		.policy{
			padding-bottom: 150px;
			padding-top: 50px;
			.box1{
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#03417e+0,0458aa+50,0682fc+100 */
				background: #03417e; /* Old browsers */
				background: -moz-linear-gradient(-45deg,  #03417e 0%, #0458aa 50%, #0682fc 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(-45deg,  #03417e 0%,#0458aa 50%,#0682fc 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(135deg,  #03417e 0%,#0458aa 50%,#0682fc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03417e', endColorstr='#0682fc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */		
			}
			.box2{
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1665b2+0,1c83c9+50,2ccaff+100 */
				background: #1665b2; /* Old browsers */
				background: -moz-linear-gradient(-45deg,  #1665b2 0%, #1c83c9 50%, #2ccaff 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(-45deg,  #1665b2 0%,#1c83c9 50%,#2ccaff 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(135deg,  #1665b2 0%,#1c83c9 50%,#2ccaff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1665b2', endColorstr='#2ccaff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */			
			}
			.judul{
				margin: 0;
				font-size: 22.99px;
				text-align: center;
				color: #ffffff;
				padding: 30px 0px;
				font-family: $dimbold;
			}
			.sub{
				margin: 0;
				font-size: 13.99px;
				color: #ffffff;
				padding: 0px 90px;
				font-family: $dimreg;
			}
			li{
				line-height: 25px;
			}
			.height{
				height: 350px;
			}
		}


		.commitment {
			padding-bottom: 20px;
			ul{
				margin:0;
				border: solid 1px #000000;
				background-color: #fff;

				li{
					min-height: 333px;
					padding: 20px;
					&:first-child{
						
						border-bottom: solid 1px #000000;
					}
					&:nth-child(2){
						border-bottom: solid 1px #000000;
						border-left: solid 1px #000000;
					}
					&:last-child{
						border-left: solid 1px #000000;
					}
					h1{
						font-family: $dimbold;
						font-size: 22.99px;
					    text-align: center;
					    margin: 0 auto;
					    color: #042a66;
					    width: 250px;
						line-height: 28.98px ;
						height: 58px;
						margin-bottom: 20px;
					}

					p{
						font-family: $dimreg;
						font-size: 13.99px;
						color: #070707;
						line-height: 20.98px;
						padding: 0 30px;
						text-align: center;
					}
				}
			}
		}
		.management{

			margin-top: 30px;
			margin-bottom: 56px;
			.tumbnailmg{
				img{
					opacity: 0.2;
				}
			}
			.flex-active-slide{
				img{
					opacity: 1;
				}
			}
			.contentmg {
				.flex-direction-nav{
					position: absolute;
					top: 30px;
    				right: 76px;
    				display: inline-block;
    				height: 20px;
    				.flex-nav-prev{
    					display: inline-block;
    				}
    				.flex-nav-next{
    					display: inline-block;
    				}
    				a{
    					 height: 45px;
    				}
				}

				margin-top: 62px;
				background-color: #f2f2f2;
				height: 351px;
				.imagemng{
					height: 351px;
					img{
						position: absolute;
						bottom: 0;
						left: 0;
					}
				}
				.detailmg{
					height: 351px;
					padding : 38px 65px 38px 42px;
					h1{
						margin: 0px;
						font-family: $dimbold;
						font-size: 28.67px;
					}
					h2{
						margin: 0px;
						font-family: $dimreg;
						font-size: 17.11px;
						color: #024281;
					}
					p{
						line-height: 24.42px;
						font-size: 15.88px;
						font-family: $dimreg;
						color: #696969;
					}

				}
			}
		}
		.content_precast{
			padding-bottom: 20px;
			.pict{
				img{
					position: relative;
				}
				.wordpic{
					font-size: 21.99px;
					color: #ffffff;
					background-color: #042a66;
					line-height: 22px;
					position: absolute;
					bottom: -172px;
					right: 32px;
					font-family: $dimbold;
					p{
						margin: 50px;
					}
				}
			}
			.word{
				p{
					margin: 0;
					padding-left: 16px;
					font-size: 13.99px;
					font-family: $dimreg;
				}
			}
		}
		.content_greenconstruction{
			padding-bottom: 100px;
			.pict{
				img{
					position: relative;
				}
				.wordpic{
					font-size: 21.99px;
					color: #ffffff;
					background-color: #042a66;
					line-height: 22px;
					position: absolute;
					bottom: -172px;
					right: 30px;
					font-family: $dimbold;
					p{
						margin: 50px;
					}
				}
			}
			.word{
				p{
					margin: 0;
					padding-left: 16px;
					font-size: 13.99px;
					font-family: $dimreg;
				}
			}
		}
		.tagline_greenconstruction{
			    padding-bottom: 30px;
   				padding-top: 20px
		}
		.heibox{
			height: 488px;
			overflow: hidden;
		}	
		.heibox2{
			height: 251px;
		}
		.title{
			margin: 0;
			padding: 24px 0 30px;
			font-size: 28.38px;
		}	
		.wordwhite{
			.title{
				color: #ffffff;
				font-family: $dimbold;
			}
			p{
				color: #ffffff;
				font-family: $dimlight;
				margin: 0;
			}
		}	
		.wordkiri{
			.title{
				color: #ffffff;
			}
			p{
				color: #868686;
				margin: 0;
				font-family: $dimlight;
			}
		}
		.wordkanan{
			.title{
				color: #ffffff;
			}
			p{
				color: #888888;
				margin: 0;
				font-family: $dimlight;
			}
		}	
		.heiimg{
			height: 238px;
		}			
		.m1{
			.square1{
				background-color: #00aeff;
				padding: 0 45px;
				height: 100%;				
				h1{					
					color: #ffffff;
				}
				p{
					color: #ffffff;
					font-size: 16.44px;
				}
			}
			.square2{
				.s1{
					position: relative;
					background-image: url(../img/m1.jpg);
					padding: 10px 50px;
					h1{
						color: #ffffff;
						font-size: 28.38px;
					}
					p{
						color: #ffffff;
						font-size: 16.44px;
					}
				}
				.s2{
					background-color: #024281;
					padding: 10px 50px;
					h1{
						color: #ffffff;
						font-size: 28.38px;
					}
					p{
						color: #ffffff;
						font-size: 16.44px;
					}
				}
			}
		}
		.m2{
			.square1{
				.s1{
					background-color: #f2f2f2;
					padding: 0 45px;
					position: relative;
					&:after{
						top: 100%;
						left: 90%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-color: rgba(242, 242, 242, 0);
						border-top-color: #f2f2f2;
						border-width: 30px;
						margin-left: -30px;
						z-index: 7;
					}
					h1{
						color: #024281;
						font-size: 28.38px;
						margin: 0;
						padding: 30px 0px;
					}
					p{
						color: #868686;
						font-size: 16.44px;
					}
				}
				.s2{
					img{
						width: 100%;
					}
				}
			}
			.square2{
				background-color: #e0e0e0;
				padding: 0 50px;
				height: 100%;
				h1{
					color: #024281;
					font-size: 28.38px;
					margin: 0;
					padding: 30px 0;
				}
				p{
					color: #888888;
					font-size: 16.44px
				}
			}
		}
		.m3{
			.square1{
				background-color: #00aeff;
				padding: 0 45px;
				height: 100%;				
				h1{					
					color: #ffffff;
				}
				p{
					color: #ffffff;
					font-size: 16.44px;
				}
			}
			.square2{
				.s1{
					position: relative;
					background-image: url(../img/m1.jpg);
					padding: 10px 50px;
					h1{
						color: #ffffff;
						font-size: 28.38px;
					}
					p{
						color: #ffffff;
						font-size: 16.44px;
					}
				}
				.s2{
					background-color: #024281;
					padding: 10px 50px;
					h1{
						color: #ffffff;
						font-size: 28.38px;
					}
					p{
						color: #ffffff;
						font-size: 16.44px;
					}
				}
			}
		}
		.m4{
			.square1{
				.s1{
					background-color: #f2f2f2;
					padding: 0 45px;
					&:after{
						top: 100%;
						left: 90%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-color: rgba(242, 242, 242, 0);
						border-top-color: #f2f2f2;
						border-width: 30px;
						margin-left: -30px;
						z-index: 7;
					}					
					h1{
						color: #024281;
						font-size: 28.38px;
						margin: 0;
						padding: 30px 0;
					}
					p{
						color: #868686;
						font-size: 16.44px;
					}
				}
				.s2{
					img{
						
						width: 100%;
					}
				}
			}
			.square2{
				background-color: #e0e0e0;
				padding: 0 50px;
				height: 100%;
				h1{
					color: #024281;
					font-size: 28.38px;
					margin: 0;
					padding: 30px 0;
				}
				p{
					color: #888888;
					font-size: 16.44px
				}
			}
		}
		.news{
			.headline{
				height: 310px;
				.headlineleft{
					position: relative;
					img{
						width: 100%;
						padding: 0;
						margin: 0;
						height: 310px;
					}
				}
				.headlineright{
					background-color: #024281;
					position: relative;
					height: 310px;
					padding : 38px 50px;
					color: #ffffff;
					.date{
						margin: 0;
						font-family: $dimlight;
						font-size: 13.34px;
					}
					.title{
						font-family: $dimreg;
						font-size: 24.1px;
						line-height: 25.22px;
						padding-right: 10px;
					}
					p{
						font-family: $dimlight;
						font-size: 15.8px;
					    line-height: 24.87px;
					    padding: 0;
					    margin: 0;
					}
					h5{
						font-family: $dimbold;
						font-size: 14.21px;
						margin-bottom: 0;
					    margin-top: 45px;
					    bottom: 0;
					}
					&:after{
						right: 100%;
						top: 50%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-color: rgba(2, 66, 129, 0);
						border-right-color: #024281;
						border-width: 30px;
						margin-top: -30px;
										}
				}
			}
			.newstools{
				padding: 36px 0;
				.caption{
					position: absolute;
				    right: 378px;
				    padding: 7px;
				    padding-right: 4px;
				    margin: 0;
				    font-family: $dimreg;
				    font-size: 14.97px;
				    text-align: center;
				}
				.selectsearch{
						position: absolute;
						right: 286px;
					    font-size: 14px;
					    font-family: $dimreg;
					    padding: 0px 0;
					    display: inline-block;
					    width: 80px;
					    height: 37px;
					    border: solid 1px #cccccc;
					    option{
					    	color: black;
					    	overflow: hidden;
					    }
				}

				input[type=text]{
					    height: 37px;
					    padding: 4px;
					    width: 210px;
					    float: right;
					   	margin-right: 34px;
					   	border-radius: 0px;

				}
				button{
					    position: absolute;
					    right: 0;
					    width: 36px;
					    height: 37px;
					    background-color: #024280;
					    color: #fff;
					    font-size: 20px;

				}
			}
			.newstop{
				ul{
					position: relative;
					li{
						position: relative;
						.listnewscap{
							background-color: #fff;
							border: solid 1px #f2f2f2;
							padding: 10px 34px;
							height: 166px;

							span{
								color: #024281;
    							font-size: 12.34px;
    							font-family: $dimlight;
							}

							h1{
								margin: 0;
							    line-height: 22px;
							    font-size: 18.67px;
							    padding-top: 14px;
							    color: #024280;
							    font-family: roboto;
							    text-transform: uppercase;
							}
							h2{
								margin: 0;
								a{		
									    text-decoration: none;
									    font-size: 13.49px;
									    color: #0081ff;
									    font-family: roboto;
									    position: absolute;
								        position: absolute;
    									bottom: 34px;
								}
							}
						}
					}
				}
			}
			.headline2{
				height: 310px;
				background-color: #024281;
				.headlineleft{
					position: relative;
					img{
						padding: 0;
						margin: 0;
						height: 310px;
					}
					h1{
						position: absolute;
					    margin: 0;
					    z-index: 2;
					    color: #fff;
					    bottom: 42px;
					    left: 40px;
					    font-size: 38.6px;
					    line-height: 40.4px;
					    width: 77%;
						font-family: $dimbold;
					}
				}
				.headlineright{
					background-color: #024281;
					position: relative;
					height: 310px;
					padding : 38px 50px;
					color: #ffffff;
					.date{
						margin: 0;
						font-family: $dimlight;
						font-size: 13.34px;
					}
					.title{
						font-family: $dimreg;
						font-size: 24.1px;
						line-height: 25.22px;
						padding-right: 10px;
					}
					p{
						font-family: $dimlight;
						font-size: 14.61px;
					    line-height: 23px;
					    padding: 18px 0 0 0;
					    margin: 0;
					}
					h5{
						font-family: $dimbold;
						font-size: 14.21px;
						margin-bottom: 0;
					    margin-top: 45px;
					    bottom: 0;
					}
				}
			}
			.newsbot{
				margin-top: 20px;
				@extend .newstop;
			}
			
			.buttonlist{
				margin-bottom: 40px;
				margin-top: 20px;
				clear: both;
				a{
				    width: 100%;
					padding: 16px;
					background-color: #024280;
					color: #fff;
					border: none;
					font-family: $dimbold;
					font-size: 14.21px;
					display: inline-block;
					text-align: center;
					margin: 30px auto;
				}
			}
		}


		.value{
				padding: 0;
				>ul{
					margin: 0;
					>li{
						height: 540px;
						padding: 0px 48px;
					}	
				}
				
				ul{
					padding: 40px 0px;

					li{
						//background-color: green;
						//border: solid .1px #cccccc;
						overflow: hidden;
						position: relative;
						//padding: 0px 52px;
						padding-bottom: 20px;
						&.bg1{
							/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#03417e+0,03427f+52,0680f9+100 */
							background: #03417e; /* Old browsers */
							background: -moz-linear-gradient(top,  #03417e 0%, #03427f 52%, #0680f9 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top,  #03417e 0%,#03427f 52%,#0680f9 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom,  #03417e 0%,#03427f 52%,#0680f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03417e', endColorstr='#0680f9',GradientType=0 ); /* IE6-9 */

							&:after{
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								background-image: url(../img/bgpro.png);
								background-position: -94px 254px;
								background-repeat: no-repeat;
							
							}
						}
						&.bg2{
							/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00aeef+0,00afef+52,00ddf8+100 */
							background: #00aeef; /* Old browsers */
							background: -moz-linear-gradient(top,  #00aeef 0%, #00afef 52%, #00ddf8 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top,  #00aeef 0%,#00afef 52%,#00ddf8 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom,  #00aeef 0%,#00afef 52%,#00ddf8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#00ddf8',GradientType=0 ); /* IE6-9 */

							&:after{
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								background-image: url(../img/bgdet.png);
								background-position: -96px 292px;
								background-repeat: no-repeat;
							
							}
						}
						&.bg3{
							/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0072ff+0,0078ff+52,00acff+100 */
							background: #0072ff; /* Old browsers */
							background: -moz-linear-gradient(top,  #0072ff 0%, #0078ff 52%, #00acff 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top,  #0072ff 0%,#0078ff 52%,#00acff 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom,  #0072ff 0%,#0078ff 52%,#00acff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072ff', endColorstr='#00acff',GradientType=0 ); /* IE6-9 */

							&:after{
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								background-image: url(../img/bgeff.png);
								background-position: -110px 310px;
								background-repeat: no-repeat;
							
							}
						}
						&.bg4{
							/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00aeef+0,00afef+52,00ddf8+100 */
							background: #00aeef; /* Old browsers */
							background: -moz-linear-gradient(top,  #00aeef 0%, #00afef 52%, #00ddf8 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top,  #00aeef 0%,#00afef 52%,#00ddf8 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom,  #00aeef 0%,#00afef 52%,#00ddf8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#00ddf8',GradientType=0 ); /* IE6-9 */

							&:after{
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								background-image: url(../img/bgper.png);
								background-position: -36px 282px;
								background-repeat: no-repeat;
								
							}
						}
						&.bg5{
							/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0072ff+0,0078ff+52,00acff+100 */
							background: #0072ff; /* Old browsers */
							background: -moz-linear-gradient(top,  #0072ff 0%, #0078ff 52%, #00acff 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top,  #0072ff 0%,#0078ff 52%,#00acff 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom,  #0072ff 0%,#0078ff 52%,#00acff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072ff', endColorstr='#00acff',GradientType=0 ); /* IE6-9 */

							&:after{
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								background-image: url(../img/bgexc.png);
								background-position: -38px 288px;
								background-repeat: no-repeat;
							}
						}
						&.bg6{
							/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#03417e+0,03427f+52,0680f9+100 */
							background: #03417e; /* Old browsers */
							background: -moz-linear-gradient(top,  #03417e 0%, #03427f 52%, #0680f9 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top,  #03417e 0%,#03427f 52%,#0680f9 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom,  #03417e 0%,#03427f 52%,#0680f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03417e', endColorstr='#0680f9',GradientType=0 ); /* IE6-9 */

							&:after{
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								background-image: url(../img/bggen.png);
								background-position: -66px 326px;
								background-repeat: no-repeat;				
							}
						}
						&.bg7{
							/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#03417e+0,03427f+52,0680f9+100 */
							background: #03417e; /* Old browsers */
							background: -moz-linear-gradient(top,  #03417e 0%, #03427f 52%, #0680f9 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top,  #03417e 0%,#03427f 52%,#0680f9 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom,  #03417e 0%,#03427f 52%,#0680f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03417e', endColorstr='#0680f9',GradientType=0 ); /* IE6-9 */
							&:after{
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								background-image: url(../img/bgsat.png);
								background-position: -110px 310px;
								background-repeat: no-repeat;
							}
						}
						.gbrvalue{
							text-align: center;
							padding-top: 20px;
							img{
								padding-top: 30px;
							}	
						}
						
						.title{
							text-align: center;
							color: #ffffff;
							padding-top: 10px;
							font-family: $dimbold;
						}
						
						ul{
							padding: 10px 0px;
							li{
								list-style-type: none;
								position: relative;
								padding-left: 48px;
								border: none;
								color: #ffffff;
								font-family: $dimlight;
								
								&:after{
									display: inline-block;
									font-size: 14px;
									background-color: #00bff3;
									padding: 5px;
									width: 10px;
									height: 10px;
									content: "";
									top: 6px;
									left: 12px;
									position: absolute;
									border-radius: 10px;
								}
							}
						}
					}
				}
		}
	}

	.jenis{
		padding-bottom: 100px;
		
		.jenis_ctr{
			padding: 30px 68px;
			margin: 0;
			padding-top: 14px;
			li{
				list-style-type: none;
				line-height: 14px;
				padding: 12px 0px;
				padding-top: 0px;
				position: relative;
				
				&:after{
					display: inline-block;
					font-size: 14px;
					background-color: #00bff3;
					padding: 5px;
					width: 18px;
					height: 18px;
					content: "";
					top: 0;
					left: -40px;
					position: absolute;
					border-radius: 18px;
				}
				a{
					text-decoration: none;
					color: #2c2c2c;
					h3{
						margin-bottom: 0;
						padding-bottom: 14px;
						padding: 0px;
					}
					b{
						margin: 0;
						padding-top: 14px;
						color: #858585;
						font-weight: bold;
					}
				}
			}
			p{
				margin: 0;
				line-height: 24px;
				color: #8f8f8f;
				padding-bottom: 20px;
			}
		}
	}
}
.all-white{
	background-color: #ffffff;
	margin-bottom: 40px;
	margin-top: 20px;
	.slide{
		width: 100%;
		.flex-direction-nav{
			a{
				height: 50px;
				position: absolute;
			}
			.flex-nav-next{
					.flex-next{
						right: -20px;
					}
			}
			.flex-nav-prev{
				.flex-prev{
					left: -20px;
				}
			}
		}
		.download{
			margin: 0;
			padding: 0;
			background-color: #ffffff;
			li{
				list-style-type: none;
				.year{
					    margin: 0;
					    font-size: 61.3px;
					    color: #03417e;
					    padding: 13px 0 0 35px;
					    font-family: $dimbold;
				}
				.document{
					padding: 0;
					li{

						&:last-child{
							.wrapper{
								border-bottom: none;
							}
						}
						font-size: 14.21px;
					    color: #000000;
					    /* border-bottom: solid 1px #959595; */
					    padding: 15px 0;
					    width: 80%;
					    position: relative;
						.wrapper{
							border-bottom: 1px solid #111111;
						    padding-bottom: 10px;
						    position: relative;
						    margin-bottom: 17px;
						}
						&:first-child{
							.wrapper{
								border-bottom: 1px solid #111111;
							}
						}
						.leftcap{
							text-align: left;
							font-family: $dimreg;
							padding-right: 10px;
						}
						.rightimg{
							a{
							float: right;
							background-color: #ff0000;
							text-decoration: none;
							color: #ffffff;
							font-size: 11.25px;
							padding: 0;
							text-align: center;
							line-height: 22px;
							display: inline-block;
							width: 70px;
							margin-left: 10px;
							font-family: $dimbold;
							strong{
								font-size: 31.25px;
								letter-spacing: -2px;
								font-family: $dimbold;
								line-height: 10px;
							}
						}
						}
					
					}
				}
			}
		}
	}
}

.inline{
	margin: 0;
	padding: 0;
	li{
		list-style-type: none;
		display: inline-block;
	}
}

.gbr{
	li{
		padding: 0px 54px;

		&:last-child{
			padding-right: 0px;
		}
	}
}
.rowstruktur{
	width: 1170px;
	clear: left;
	.struktur{
		img{
			width: 1170px;
			padding-top: 60px;
		}
	}
	.note{
		position: relative;
		display: block;
		font-family: arial;
		font-size: 22px;
		font-weight: bold;
		clear: left;
		padding: 120px 0 80px;
		.fa{
			border: solid 3px #000;
		    border-radius: 100%;
		    width: 25px;
		    height: 25px;
		    text-align: center;
		    line-height: 25px;
		    font-size: 14px;
		    margin-right: 5px;
		}
	}
}

// tagline
.tagline{
	img{
		//position: absolute;
	}
	.caption{
		position:absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		h4{
			color: #ffffff;
		    text-transform: uppercase;
		    font-size: 43px;
		    line-height: 46px;
		    font-family: $dimbold;
		}
	}
}
//FOOTER
.pp{
	clear: both;
	.subsidiaries{
		border-bottom: solid 1px #959595;
		padding: 80px 0 20px;
		text-align: center;
		ul{
			padding: 0;
			margin: 0;
			li{
				list-style-type: none;
				display: inline-block;
				padding: 0;
			}
		}
		.gbr{
			float: none;
   			margin: 0 auto;
			ul{
				li{
				}
			}
		}
		.title{
			font-size: 31.66px;
			color: #307ebc;
			font-family: $avenirBlack;
		}
	}
	.invest{
		border-bottom: solid 1px #959595;
		padding: 26px 0;
		.title-invest{
			font-size: 26.9px;
    		color: #307ebc;
    		font-weight: bold;
			padding: 0;
			margin-bottom: 24px;
			font-family: $avenirBlack;
		}
		.gbr-invest{
			ul{
				padding: 0;
    			margin: 0;
				li{	
					list-style: none;
					display: inline-block;
					padding-left: 50px;
				}
			}
		}
	}
	.link{
		border-bottom: 0;
		.gbr-invest{
			ul{
				li{
				padding-left: 42px;
				}
			}
		}
		.title{
			font-size: 26.9px;
    		color: #307ebc;
    		font-weight: bold;
			padding: 0;
			margin-bottom: 24px;
		}		
		.linkgambar{
			ul{
				padding: 0;
    			margin: 0;
				li{	
					list-style: none;
					display: inline-block;
					padding-top: 0 auto;
				}
			}
		}
	}
}

.footer{
	clear: both;
	padding: 60px 0;
	background-color: #0054a5;
	margin-top: 46px;
	.isi{
		.main{
			.menu{
				li{
					color: #ffffff;
					h4{
						margin: 0;
						font-size: 13.57px;
						padding-bottom: 8px;
						line-height: 20px;
						font-family: $dimbold;
					}
					ul{
						padding-left: 0;
						li{
							list-style-type: none;									
							a{
								color: #bbd1e7;
								text-decoration: none;
								display: block;
								font-size: 13.57px;
								padding-bottom: 8px;
								font-family: $dimlight;
							}
						}
					}
				}
			}
		}
		.bungkus{
			padding: 0;
			margin: 0;
			.bottomnav{
				color: #bbd1e7;
				font-size: 13.57px;
				text-decoration: none;
				font-size: $dimlight;
			}
			p{
				color: #feffff;
				font-size: 13.57px;
				margin: 5px 0 0 0;
				font-family: $dimbold;
			}
		}		
	}
	.contact{
		padding: 0;
		margin: 0;
		width: 60%;
		float: right;
		text-align: right;
		li{	
			list-style: none;
			display: inline-block;
			padding: 0 6px;
			a{
				text-decoration: none;
   			 	color: #0054a5;
    			font-size: 14px;
    			background-color: #ffffff;
    			border-radius: 40px;
    			display: table-cell;
				width: 40px;
				height: 40px;
				text-align: center;
				vertical-align: middle;
				font-weight: bold;
				i{
					font-size: 28px;
					padding: 1px 0px;						
					&.fa-facebook{
					}
				}
			}
		}
	}
	.note{
		color: #ffffff;
		font-size: 12.14px;
		width: 40%;
		padding: 0px;
		float: left;
		font-weight: bold;
		text-align: right;
	}
}