  .btn-rate {
    background-color: transparent;
    border: solid 1px #4e4e4e;
    color: #4e4e4e;
    font-family: $lato;
    font-size: 12px;
    padding: 5px 8px;
  } // Follow Unfollowing button
  button .msg-follow,
  button .msg-following,
  button .msg-unfollow {
    display: none;
  }

  button .msg-follow {
    display: inline;
  }

  button.following .msg-follow {
    display: none;
  }

  button.following .msg-following {
    display: inline;
  }

  button.following:not(.wait):hover .msg-following {
    display: none;
  }

  button.following:not(.wait):hover .msg-unfollow {
    display: inline;
  }

.not-actived{
     pointer-events: none;
     cursor: default;
     text-decoration: none;
     color: black;
}

.wizard-actived {
  color: #3694BE !important;
}