.progress .skill {
  font: normal 12px "Open Sans Web";
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}

.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: center;
  transition-duration: 3s;
}

// circle progress
.circle-progress {
  position: absolute;
  right: 0;
  bottom: -10%;
  right: 3%;
  z-index: 99;
  .progress {
    width: 57px;
    height: 57px;
    line-height: 57px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
  }
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5.49px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left {
    left: 0;
  }
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress .progress-right {
    right: 0;
  }
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
  }
  .progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #3694be;
    font-size: 16px;
    color: #fff;
    line-height: 51px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: $bold;
  }
  .progress.blue-100 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-100 .progress-left .progress-bar {
    animation: loading-100 1s linear forwards 1.8s;
  }
  .progress.blue-99 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-99 .progress-left .progress-bar {
    animation: loading-99 1s linear forwards 1.8s;
  }
  .progress.blue-98 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-98 .progress-left .progress-bar {
    animation: loading-98 1s linear forwards 1.8s;
  }
  .progress.blue-97 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-97 .progress-left .progress-bar {
    animation: loading-97 1s linear forwards 1.8s;
  }
  .progress.blue-96 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-96 .progress-left .progress-bar {
    animation: loading-96 1s linear forwards 1.8s;
  }
  .progress.blue-95 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-95 .progress-left .progress-bar {
    animation: loading-95 1s linear forwards 1.8s;
  }
  .progress.blue-94 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-94 .progress-left .progress-bar {
    animation: loading-94 1s linear forwards 1.8s;
  }
  .progress.blue-93 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-93 .progress-left .progress-bar {
    animation: loading-93 1s linear forwards 1.8s;
  }
  .progress.blue-92 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-92 .progress-left .progress-bar {
    animation: loading-92 1s linear forwards 1.8s;
  }
  .progress.blue-91 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-91 .progress-left .progress-bar {
    animation: loading-91 1s linear forwards 1.8s;
  }
  .progress.blue-90 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-90 .progress-left .progress-bar {
    animation: loading-90 1s linear forwards 1.8s;
  }
  .progress.blue-89 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-89 .progress-left .progress-bar {
    animation: loading-89 1s linear forwards 1.8s;
  }
  .progress.blue-88 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-88 .progress-left .progress-bar {
    animation: loading-88 1s linear forwards 1.8s;
  }
  .progress.blue-87 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-87 .progress-left .progress-bar {
    animation: loading-87 1s linear forwards 1.8s;
  }
  .progress.blue-86 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-86 .progress-left .progress-bar {
    animation: loading-86 1s linear forwards 1.8s;
  }
  .progress.blue-85 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-85 .progress-left .progress-bar {
    animation: loading-85 1s linear forwards 1.8s;
  }
  .progress.blue-84 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-84 .progress-left .progress-bar {
    animation: loading-84 1s linear forwards 1.8s;
  }
  .progress.blue-83 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-83 .progress-left .progress-bar {
    animation: loading-83 1s linear forwards 1.8s;
  }
  .progress.blue-82 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-82 .progress-left .progress-bar {
    animation: loading-82 1s linear forwards 1.8s;
  }
  .progress.blue-81 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-81 .progress-left .progress-bar {
    animation: loading-81 1s linear forwards 1.8s;
  }
  .progress.blue-80 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-80 .progress-left .progress-bar {
    animation: loading-80 1s linear forwards 1.8s;
  }
  .progress.blue-79 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-79 .progress-left .progress-bar {
    animation: loading-79 1s linear forwards 1.8s;
  }
  .progress.blue-78 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-78 .progress-left .progress-bar {
    animation: loading-78 1s linear forwards 1.8s;
  }
  .progress.blue-77 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-77 .progress-left .progress-bar {
    animation: loading-77 1s linear forwards 1.8s;
  }
  .progress.blue-76 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-76 .progress-left .progress-bar {
    animation: loading-76 1s linear forwards 1.8s;
  }
  .progress.blue-75 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-75 .progress-left .progress-bar {
    animation: loading-75 1s linear forwards 1.8s;
  }
  .progress.blue-74 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-74 .progress-left .progress-bar {
    animation: loading-74 1s linear forwards 1.8s;
  }
  .progress.blue-73 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-73 .progress-left .progress-bar {
    animation: loading-73 1s linear forwards 1.8s;
  }
  .progress.blue-72 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-72 .progress-left .progress-bar {
    animation: loading-72 1s linear forwards 1.8s;
  }
  .progress.blue-71 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-71 .progress-left .progress-bar {
    animation: loading-71 1s linear forwards 1.8s;
  }
  .progress.blue-70 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-70 .progress-left .progress-bar {
    animation: loading-70 1s linear forwards 1.8s;
  }
  .progress.blue-69 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-69 .progress-left .progress-bar {
    animation: loading-69 1s linear forwards 1.8s;
  }
  .progress.blue-68 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-68 .progress-left .progress-bar {
    animation: loading-68 1s linear forwards 1.8s;
  }
  .progress.blue-67 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-67 .progress-left .progress-bar {
    animation: loading-67 1s linear forwards 1.8s;
  }
  .progress.blue-66 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-66 .progress-left .progress-bar {
    animation: loading-66 1s linear forwards 1.8s;
  }
  .progress.blue-65 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-65 .progress-left .progress-bar {
    animation: loading-65 1s linear forwards 1.8s;
  }
  .progress.blue-64 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-64 .progress-left .progress-bar {
    animation: loading-64 1s linear forwards 1.8s;
  }
  .progress.blue-63 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-63 .progress-left .progress-bar {
    animation: loading-63 1s linear forwards 1.8s;
  }
  .progress.blue-62 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-62 .progress-left .progress-bar {
    animation: loading-62 1s linear forwards 1.8s;
  }
  .progress.blue-61 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-61 .progress-left .progress-bar {
    animation: loading-61 1s linear forwards 1.8s;
  }
  .progress.blue-60 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-60 .progress-left .progress-bar {
    animation: loading-60 1s linear forwards 1.8s;
  }
  .progress.blue-59 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-59 .progress-left .progress-bar {
    animation: loading-59 1s linear forwards 1.8s;
  }
  .progress.blue-58 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-58 .progress-left .progress-bar {
    animation: loading-58 1s linear forwards 1.8s;
  }
  .progress.blue-57 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-57 .progress-left .progress-bar {
    animation: loading-57 1s linear forwards 1.8s;
  }
  .progress.blue-56 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-56 .progress-left .progress-bar {
    animation: loading-56 1s linear forwards 1.8s;
  }
  .progress.blue-55 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-55 .progress-left .progress-bar {
    animation: loading-55 1s linear forwards 1.8s;
  }
  .progress.blue-54 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-54 .progress-left .progress-bar {
    animation: loading-54 1s linear forwards 1.8s;
  }
  .progress.blue-53 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-53 .progress-left .progress-bar {
    animation: loading-53 1s linear forwards 1.8s;
  }
  .progress.blue-52 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-52 .progress-left .progress-bar {
    animation: loading-52 1s linear forwards 1.8s;
  }
  .progress.blue-51 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-51 .progress-left .progress-bar {
    animation: loading-51 1s linear forwards 1.8s;
  }
  .progress.blue-50 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-50 .progress-left .progress-bar {
    animation: loading-50 1s linear forwards 1.8s;
  }
  @keyframes loading-100 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes loading-99 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(176.4deg);
      transform: rotate(178.4deg);
    }
  }
  @keyframes loading-98 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(172.8deg);
      transform: rotate(172.8deg);
    }
  }
  @keyframes loading-97 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(169.2deg);
      transform: rotate(169.2deg);
    }
  }
  @keyframes loading-96 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(165.6deg);
      transform: rotate(165.6deg);
    }
  }
  @keyframes loading-95 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(162deg);
      transform: rotate(162deg);
    }
  }
  @keyframes loading-94 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(158.4deg);
      transform: rotate(158.4deg);
    }
  }
  @keyframes loading-93 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(154.8deg);
      transform: rotate(154.8deg);
    }
  }
  @keyframes loading-92 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(151.2deg);
      transform: rotate(151.2deg);
    }
  }
  @keyframes loading-91 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(147.6deg);
      transform: rotate(147.6deg);
    }
  }
  @keyframes loading-90 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
    }
  }
  @keyframes loading-89 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(140.4deg);
      transform: rotate(140.4deg);
    }
  }
  @keyframes loading-88 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(136.8deg);
      transform: rotate(136.8deg);
    }
  }
  @keyframes loading-87 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(133.2deg);
      transform: rotate(133.2deg);
    }
  }
  @keyframes loading-86 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(129.6deg);
      transform: rotate(129.6deg);
    }
  }
  @keyframes loading-85 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
    }
  }
  @keyframes loading-84 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(122.4deg);
      transform: rotate(122.4deg);
    }
  }
  @keyframes loading-83 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(118.8deg);
      transform: rotate(118.8deg);
    }
  }
  @keyframes loading-82 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(115.2deg);
      transform: rotate(115.2deg);
    }
  }
  @keyframes loading-81 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(111.6deg);
      transform: rotate(111.6deg);
    }
  }
  @keyframes loading-80 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(108deg);
      transform: rotate(108deg);
    }
  }
  @keyframes loading-79 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(104.4deg);
      transform: rotate(104.4deg);
    }
  }
  @keyframes loading-78 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(100.8deg);
      transform: rotate(100.8deg);
    }
  }
  @keyframes loading-77 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(97.2deg);
      transform: rotate(97.2deg);
    }
  }
  @keyframes loading-76 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(93.6deg);
      transform: rotate(93.6deg);
    }
  }
  @keyframes loading-75 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  @keyframes loading-74 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(86.4deg);
      transform: rotate(86.4deg);
    }
  }
  @keyframes loading-73 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(82.8deg);
      transform: rotate(82.8deg);
    }
  }
  @keyframes loading-72 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(79.2deg);
      transform: rotate(79.2deg);
    }
  }
  @keyframes loading-71 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(75.6deg);
      transform: rotate(75.6deg);
    }
  }
  @keyframes loading-70 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(72deg);
      transform: rotate(72deg);
    }
  }
  @keyframes loading-69 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(68.4deg);
      transform: rotate(68.4deg);
    }
  }
  @keyframes loading-68 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(64.8deg);
      transform: rotate(64.8deg);
    }
  }
  @keyframes loading-67 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(61.2deg);
      transform: rotate(61.2deg);
    }
  }
  @keyframes loading-66 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(57.6deg);
      transform: rotate(57.6deg);
    }
  }
  @keyframes loading-65 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(54deg);
      transform: rotate(54deg);
    }
  }
  @keyframes loading-64 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(50.4deg);
      transform: rotate(50.4deg);
    }
  }
  @keyframes loading-63 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(46.8deg);
      transform: rotate(46.8deg);
    }
  }
  @keyframes loading-62 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(43.2deg);
      transform: rotate(43.2deg);
    }
  }
  @keyframes loading-61 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(39.6deg);
      transform: rotate(39.6deg);
    }
  }
  @keyframes loading-60 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
    }
  }
  @keyframes loading-59 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(32.4deg);
      transform: rotate(32.4deg);
    }
  }
  @keyframes loading-58 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(28.8deg);
      transform: rotate(28.8deg);
    }
  }
  @keyframes loading-57 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(25.2deg);
      transform: rotate(25.2deg);
    }
  }
  @keyframes loading-56 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(21.6deg);
      transform: rotate(21.6deg);
    }
  }
  @keyframes loading-55 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(18deg);
      transform: rotate(18deg);
    }
  }
  @keyframes loading-54 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(14.4deg);
      transform: rotate(14.4deg);
    }
  }
  @keyframes loading-53 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(10.8deg);
      transform: rotate(10.8deg);
    }
  }
  @keyframes loading-52 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(7.2deg);
      transform: rotate(7.2deg);
    }
  }
  @keyframes loading-51 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(3.6deg);
      transform: rotate(3.6deg);
    }
  }
  @keyframes loading-50 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @media only screen and (max-width: 990px) {
    .progress {
      margin-bottom: 20px;
    }
  }
}

// lingkaran review pada top
.circle-progress-lil {
  position: absolute;
  .progress {
    width: 46px;
    height: 46px;
    line-height: 46px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
  }
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3.4px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left {
    left: 0;
  }
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress .progress-right {
    right: 0;
  }
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
  }
  .progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #3694be;
    font-size: 14px;
    color: #fff;
    line-height: 42px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: $bold;
  }
  .progress.blue-100 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-100 .progress-left .progress-bar {
    animation: loading-100 1s linear forwards 1.8s;
  }
  .progress.blue-99 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-99 .progress-left .progress-bar {
    animation: loading-99 1s linear forwards 1.8s;
  }
  .progress.blue-98 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-98 .progress-left .progress-bar {
    animation: loading-98 1s linear forwards 1.8s;
  }
  .progress.blue-97 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-97 .progress-left .progress-bar {
    animation: loading-97 1s linear forwards 1.8s;
  }
  .progress.blue-96 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-96 .progress-left .progress-bar {
    animation: loading-96 1s linear forwards 1.8s;
  }
  .progress.blue-95 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-95 .progress-left .progress-bar {
    animation: loading-95 1s linear forwards 1.8s;
  }
  .progress.blue-94 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-94 .progress-left .progress-bar {
    animation: loading-94 1s linear forwards 1.8s;
  }
  .progress.blue-93 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-93 .progress-left .progress-bar {
    animation: loading-93 1s linear forwards 1.8s;
  }
  .progress.blue-92 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-92 .progress-left .progress-bar {
    animation: loading-92 1s linear forwards 1.8s;
  }
  .progress.blue-91 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-91 .progress-left .progress-bar {
    animation: loading-91 1s linear forwards 1.8s;
  }
  .progress.blue-90 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-90 .progress-left .progress-bar {
    animation: loading-90 1s linear forwards 1.8s;
  }
  .progress.blue-89 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-89 .progress-left .progress-bar {
    animation: loading-89 1s linear forwards 1.8s;
  }
  .progress.blue-88 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-88 .progress-left .progress-bar {
    animation: loading-88 1s linear forwards 1.8s;
  }
  .progress.blue-87 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-87 .progress-left .progress-bar {
    animation: loading-87 1s linear forwards 1.8s;
  }
  .progress.blue-86 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-86 .progress-left .progress-bar {
    animation: loading-86 1s linear forwards 1.8s;
  }
  .progress.blue-85 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-85 .progress-left .progress-bar {
    animation: loading-85 1s linear forwards 1.8s;
  }
  .progress.blue-84 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-84 .progress-left .progress-bar {
    animation: loading-84 1s linear forwards 1.8s;
  }
  .progress.blue-83 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-83 .progress-left .progress-bar {
    animation: loading-83 1s linear forwards 1.8s;
  }
  .progress.blue-82 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-82 .progress-left .progress-bar {
    animation: loading-82 1s linear forwards 1.8s;
  }
  .progress.blue-81 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-81 .progress-left .progress-bar {
    animation: loading-81 1s linear forwards 1.8s;
  }
  .progress.blue-80 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-80 .progress-left .progress-bar {
    animation: loading-80 1s linear forwards 1.8s;
  }
  .progress.blue-79 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-79 .progress-left .progress-bar {
    animation: loading-79 1s linear forwards 1.8s;
  }
  .progress.blue-78 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-78 .progress-left .progress-bar {
    animation: loading-78 1s linear forwards 1.8s;
  }
  .progress.blue-77 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-77 .progress-left .progress-bar {
    animation: loading-77 1s linear forwards 1.8s;
  }
  .progress.blue-76 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-76 .progress-left .progress-bar {
    animation: loading-76 1s linear forwards 1.8s;
  }
  .progress.blue-75 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-75 .progress-left .progress-bar {
    animation: loading-75 1s linear forwards 1.8s;
  }
  .progress.blue-74 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-74 .progress-left .progress-bar {
    animation: loading-74 1s linear forwards 1.8s;
  }
  .progress.blue-73 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-73 .progress-left .progress-bar {
    animation: loading-73 1s linear forwards 1.8s;
  }
  .progress.blue-72 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-72 .progress-left .progress-bar {
    animation: loading-72 1s linear forwards 1.8s;
  }
  .progress.blue-71 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-71 .progress-left .progress-bar {
    animation: loading-71 1s linear forwards 1.8s;
  }
  .progress.blue-70 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-70 .progress-left .progress-bar {
    animation: loading-70 1s linear forwards 1.8s;
  }
  .progress.blue-69 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-69 .progress-left .progress-bar {
    animation: loading-69 1s linear forwards 1.8s;
  }
  .progress.blue-68 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-68 .progress-left .progress-bar {
    animation: loading-68 1s linear forwards 1.8s;
  }
  .progress.blue-67 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-67 .progress-left .progress-bar {
    animation: loading-67 1s linear forwards 1.8s;
  }
  .progress.blue-66 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-66 .progress-left .progress-bar {
    animation: loading-66 1s linear forwards 1.8s;
  }
  .progress.blue-65 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-65 .progress-left .progress-bar {
    animation: loading-65 1s linear forwards 1.8s;
  }
  .progress.blue-64 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-64 .progress-left .progress-bar {
    animation: loading-64 1s linear forwards 1.8s;
  }
  .progress.blue-63 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-63 .progress-left .progress-bar {
    animation: loading-63 1s linear forwards 1.8s;
  }
  .progress.blue-62 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-62 .progress-left .progress-bar {
    animation: loading-62 1s linear forwards 1.8s;
  }
  .progress.blue-61 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-61 .progress-left .progress-bar {
    animation: loading-61 1s linear forwards 1.8s;
  }
  .progress.blue-60 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-60 .progress-left .progress-bar {
    animation: loading-60 1s linear forwards 1.8s;
  }
  .progress.blue-59 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-59 .progress-left .progress-bar {
    animation: loading-59 1s linear forwards 1.8s;
  }
  .progress.blue-58 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-58 .progress-left .progress-bar {
    animation: loading-58 1s linear forwards 1.8s;
  }
  .progress.blue-57 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-57 .progress-left .progress-bar {
    animation: loading-57 1s linear forwards 1.8s;
  }
  .progress.blue-56 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-56 .progress-left .progress-bar {
    animation: loading-56 1s linear forwards 1.8s;
  }
  .progress.blue-55 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-55 .progress-left .progress-bar {
    animation: loading-55 1s linear forwards 1.8s;
  }
  .progress.blue-54 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-54 .progress-left .progress-bar {
    animation: loading-54 1s linear forwards 1.8s;
  }
  .progress.blue-53 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-53 .progress-left .progress-bar {
    animation: loading-53 1s linear forwards 1.8s;
  }
  .progress.blue-52 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-52 .progress-left .progress-bar {
    animation: loading-52 1s linear forwards 1.8s;
  }
  .progress.blue-51 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-51 .progress-left .progress-bar {
    animation: loading-51 1s linear forwards 1.8s;
  }
  .progress.blue-50 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-50 .progress-left .progress-bar {
    animation: loading-50 1s linear forwards 1.8s;
  }
  @keyframes loading-100 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes loading-99 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(176.4deg);
      transform: rotate(178.4deg);
    }
  }
  @keyframes loading-98 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(172.8deg);
      transform: rotate(172.8deg);
    }
  }
  @keyframes loading-97 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(169.2deg);
      transform: rotate(169.2deg);
    }
  }
  @keyframes loading-96 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(165.6deg);
      transform: rotate(165.6deg);
    }
  }
  @keyframes loading-95 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(162deg);
      transform: rotate(162deg);
    }
  }
  @keyframes loading-94 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(158.4deg);
      transform: rotate(158.4deg);
    }
  }
  @keyframes loading-93 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(154.8deg);
      transform: rotate(154.8deg);
    }
  }
  @keyframes loading-92 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(151.2deg);
      transform: rotate(151.2deg);
    }
  }
  @keyframes loading-91 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(147.6deg);
      transform: rotate(147.6deg);
    }
  }
  @keyframes loading-90 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
    }
  }
  @keyframes loading-89 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(140.4deg);
      transform: rotate(140.4deg);
    }
  }
  @keyframes loading-88 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(136.8deg);
      transform: rotate(136.8deg);
    }
  }
  @keyframes loading-87 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(133.2deg);
      transform: rotate(133.2deg);
    }
  }
  @keyframes loading-86 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(129.6deg);
      transform: rotate(129.6deg);
    }
  }
  @keyframes loading-85 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
    }
  }
  @keyframes loading-84 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(122.4deg);
      transform: rotate(122.4deg);
    }
  }
  @keyframes loading-83 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(118.8deg);
      transform: rotate(118.8deg);
    }
  }
  @keyframes loading-82 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(115.2deg);
      transform: rotate(115.2deg);
    }
  }
  @keyframes loading-81 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(111.6deg);
      transform: rotate(111.6deg);
    }
  }
  @keyframes loading-80 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(108deg);
      transform: rotate(108deg);
    }
  }
  @keyframes loading-79 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(104.4deg);
      transform: rotate(104.4deg);
    }
  }
  @keyframes loading-78 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(100.8deg);
      transform: rotate(100.8deg);
    }
  }
  @keyframes loading-77 {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(97.2deg);
      transform: rotate(97.2deg);
    }
  }
  @keyframes loading-76 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(93.6deg);
      transform: rotate(93.6deg);
    }
  }
  @keyframes loading-75 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  @keyframes loading-74 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(86.4deg);
      transform: rotate(86.4deg);
    }
  }
  @keyframes loading-73 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(82.8deg);
      transform: rotate(82.8deg);
    }
  }
  @keyframes loading-72 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(79.2deg);
      transform: rotate(79.2deg);
    }
  }
  @keyframes loading-71 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(75.6deg);
      transform: rotate(75.6deg);
    }
  }
  @keyframes loading-70 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(72deg);
      transform: rotate(72deg);
    }
  }
  @keyframes loading-69 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(68.4deg);
      transform: rotate(68.4deg);
    }
  }
  @keyframes loading-68 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(64.8deg);
      transform: rotate(64.8deg);
    }
  }
  @keyframes loading-67 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(61.2deg);
      transform: rotate(61.2deg);
    }
  }
  @keyframes loading-66 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(57.6deg);
      transform: rotate(57.6deg);
    }
  }
  @keyframes loading-65 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(54deg);
      transform: rotate(54deg);
    }
  }
  @keyframes loading-64 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(50.4deg);
      transform: rotate(50.4deg);
    }
  }
  @keyframes loading-63 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(46.8deg);
      transform: rotate(46.8deg);
    }
  }
  @keyframes loading-62 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(43.2deg);
      transform: rotate(43.2deg);
    }
  }
  @keyframes loading-61 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(39.6deg);
      transform: rotate(39.6deg);
    }
  }
  @keyframes loading-60 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
    }
  }
  @keyframes loading-59 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(32.4deg);
      transform: rotate(32.4deg);
    }
  }
  @keyframes loading-58 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(28.8deg);
      transform: rotate(28.8deg);
    }
  }
  @keyframes loading-57 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(25.2deg);
      transform: rotate(25.2deg);
    }
  }
  @keyframes loading-56 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(21.6deg);
      transform: rotate(21.6deg);
    }
  }
  @keyframes loading-55 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(18deg);
      transform: rotate(18deg);
    }
  }
  @keyframes loading-54 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(14.4deg);
      transform: rotate(14.4deg);
    }
  }
  @keyframes loading-53 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(10.8deg);
      transform: rotate(10.8deg);
    }
  }
  @keyframes loading-52 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(7.2deg);
      transform: rotate(7.2deg);
    }
  }
  @keyframes loading-51 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(3.6deg);
      transform: rotate(3.6deg);
    }
  }
  @keyframes loading-50 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @media only screen and (max-width: 990px) {
    .progress {
      margin-bottom: 20px;
    }
  }
}

// progres pada index
.index-progres {
  top: 33%;
  left: 20%;
}

// Circle
.review-rate {
  top: 5%;
  right: 5%;
}

.review-rate2 {
  bottom: -29px;
  right: 5%;
}

.review-rate3 {
  top: 41px;
  right: 6%;
}

// progres pada kategori
.kategori-progress {
  top: -25px;
  right: 10px;
}

//lingkaran review
.circle {
  position: absolute;
  z-index: 99;
  .progress {
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
  }
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4.4px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left {
    left: 0;
  }
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress .progress-right {
    right: 0;
  }
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
  }
  .progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #3694be;
    font-size: 14px;
    color: #fff;
    line-height: 45px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: $bold;
  }
  .progress.blue .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue .progress-left .progress-bar {
    animation: loading-2 1s linear forwards 1.8s;
  }
  .progress.yellow .progress-bar {
    border-color: #fdba04;
  }
  .progress.yellow .progress-left .progress-bar {
    animation: loading-3 1s linear forwards 1.8s;
  }
  .progress.pink .progress-bar {
    border-color: #ed687c;
  }
  .progress.pink .progress-left .progress-bar {
    animation: loading-4 0.4s linear forwards 1.8s;
  }
  .progress.green .progress-bar {
    border-color: #1abc9c;
  }
  .progress.green .progress-left .progress-bar {
    animation: loading-5 1.2s linear forwards 1.8s;
  }
  @keyframes loading-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes loading-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
    }
  }
  @keyframes loading-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  @keyframes loading-4 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
    }
  }
  @keyframes loading-5 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
    }
  }
  @media only screen and (max-width: 990px) {
    .progress {
      margin-bottom: 20px;
    }
  }
} // end lingkaran review
// lingkaran review besar
.circle-big {
  position: absolute;
  z-index: 99;
  .progress {
    width: 60px;
    height: 60px !important;
    line-height: 60px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
  }
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4.4px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left {
    left: 0;
  }
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress .progress-right {
    right: 0;
  }
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
  }
  .progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #3694be;
    font-size: 16px;
    color: #fff;
    line-height: 52px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: $bold;
  }
  .progress.blue-100 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-100 .progress-left .progress-bar {
    animation: loading-100 1s linear forwards 1.8s;
  }
  .progress.blue-99 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-99 .progress-left .progress-bar {
    animation: loading-99 1s linear forwards 1.8s;
  }
  .progress.blue-98 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-98 .progress-left .progress-bar {
    animation: loading-98 1s linear forwards 1.8s;
  }
  .progress.blue-97 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-97 .progress-left .progress-bar {
    animation: loading-97 1s linear forwards 1.8s;
  }
  .progress.blue-96 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-96 .progress-left .progress-bar {
    animation: loading-96 1s linear forwards 1.8s;
  }
  .progress.blue-95 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-95 .progress-left .progress-bar {
    animation: loading-95 1s linear forwards 1.8s;
  }
  .progress.blue-94 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-94 .progress-left .progress-bar {
    animation: loading-94 1s linear forwards 1.8s;
  }
  .progress.blue-93 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-93 .progress-left .progress-bar {
    animation: loading-93 1s linear forwards 1.8s;
  }
  .progress.blue-92 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-92 .progress-left .progress-bar {
    animation: loading-92 1s linear forwards 1.8s;
  }
  .progress.blue-91 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-91 .progress-left .progress-bar {
    animation: loading-91 1s linear forwards 1.8s;
  }
  .progress.blue-90 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-90 .progress-left .progress-bar {
    animation: loading-90 1s linear forwards 1.8s;
  }
  .progress.blue-89 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-89 .progress-left .progress-bar {
    animation: loading-89 1s linear forwards 1.8s;
  }
  .progress.blue-88 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-88 .progress-left .progress-bar {
    animation: loading-88 1s linear forwards 1.8s;
  }
  .progress.blue-87 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-87 .progress-left .progress-bar {
    animation: loading-87 1s linear forwards 1.8s;
  }
  .progress.blue-86 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-86 .progress-left .progress-bar {
    animation: loading-86 1s linear forwards 1.8s;
  }
  .progress.blue-85 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-85 .progress-left .progress-bar {
    animation: loading-85 1s linear forwards 1.8s;
  }
  .progress.blue-84 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-84 .progress-left .progress-bar {
    animation: loading-84 1s linear forwards 1.8s;
  }
  .progress.blue-83 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-83 .progress-left .progress-bar {
    animation: loading-83 1s linear forwards 1.8s;
  }
  .progress.blue-82 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-82 .progress-left .progress-bar {
    animation: loading-82 1s linear forwards 1.8s;
  }
  .progress.blue-81 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-81 .progress-left .progress-bar {
    animation: loading-81 1s linear forwards 1.8s;
  }
  .progress.blue-80 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-80 .progress-left .progress-bar {
    animation: loading-80 1s linear forwards 1.8s;
  }
  .progress.blue-79 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-79 .progress-left .progress-bar {
    animation: loading-79 1s linear forwards 1.8s;
  }
  .progress.blue-78 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-78 .progress-left .progress-bar {
    animation: loading-78 1s linear forwards 1.8s;
  }
  .progress.blue-77 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-77 .progress-left .progress-bar {
    animation: loading-77 1s linear forwards 1.8s;
  }
  .progress.blue-76 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-76 .progress-left .progress-bar {
    animation: loading-76 1s linear forwards 1.8s;
  }
  .progress.blue-75 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-75 .progress-left .progress-bar {
    animation: loading-75 1s linear forwards 1.8s;
  }
  .progress.blue-74 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-74 .progress-left .progress-bar {
    animation: loading-74 1s linear forwards 1.8s;
  }
  .progress.blue-73 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-73 .progress-left .progress-bar {
    animation: loading-73 1s linear forwards 1.8s;
  }
  .progress.blue-72 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-72 .progress-left .progress-bar {
    animation: loading-72 1s linear forwards 1.8s;
  }
  .progress.blue-71 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-71 .progress-left .progress-bar {
    animation: loading-71 1s linear forwards 1.8s;
  }
  .progress.blue-70 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-70 .progress-left .progress-bar {
    animation: loading-70 1s linear forwards 1.8s;
  }
  .progress.blue-69 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-69 .progress-left .progress-bar {
    animation: loading-69 1s linear forwards 1.8s;
  }
  .progress.blue-68 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-68 .progress-left .progress-bar {
    animation: loading-68 1s linear forwards 1.8s;
  }
  .progress.blue-67 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-67 .progress-left .progress-bar {
    animation: loading-67 1s linear forwards 1.8s;
  }
  .progress.blue-66 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-66 .progress-left .progress-bar {
    animation: loading-66 1s linear forwards 1.8s;
  }
  .progress.blue-65 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-65 .progress-left .progress-bar {
    animation: loading-65 1s linear forwards 1.8s;
  }
  .progress.blue-64 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-64 .progress-left .progress-bar {
    animation: loading-64 1s linear forwards 1.8s;
  }
  .progress.blue-63 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-63 .progress-left .progress-bar {
    animation: loading-63 1s linear forwards 1.8s;
  }
  .progress.blue-62 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-62 .progress-left .progress-bar {
    animation: loading-62 1s linear forwards 1.8s;
  }
  .progress.blue-61 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-61 .progress-left .progress-bar {
    animation: loading-61 1s linear forwards 1.8s;
  }
  .progress.blue-60 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-60 .progress-left .progress-bar {
    animation: loading-60 1s linear forwards 1.8s;
  }
  .progress.blue-59 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-59 .progress-left .progress-bar {
    animation: loading-59 1s linear forwards 1.8s;
  }
  .progress.blue-58 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-58 .progress-left .progress-bar {
    animation: loading-58 1s linear forwards 1.8s;
  }
  .progress.blue-57 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-57 .progress-left .progress-bar {
    animation: loading-57 1s linear forwards 1.8s;
  }
  .progress.blue-56 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-56 .progress-left .progress-bar {
    animation: loading-56 1s linear forwards 1.8s;
  }
  .progress.blue-55 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-55 .progress-left .progress-bar {
    animation: loading-55 1s linear forwards 1.8s;
  }
  .progress.blue-54 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-54 .progress-left .progress-bar {
    animation: loading-54 1s linear forwards 1.8s;
  }
  .progress.blue-53 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-53 .progress-left .progress-bar {
    animation: loading-53 1s linear forwards 1.8s;
  }
  .progress.blue-52 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-52 .progress-left .progress-bar {
    animation: loading-52 1s linear forwards 1.8s;
  }
  .progress.blue-51 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-51 .progress-left .progress-bar {
    animation: loading-51 1s linear forwards 1.8s;
  }
  .progress.blue-50 .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue-50 .progress-left .progress-bar {
    animation: loading-50 1s linear forwards 1.8s;
  }
  @keyframes loading-100 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes loading-99 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(176.4deg);
      transform: rotate(178.4deg);
    }
  }
  @keyframes loading-98 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(172.8deg);
      transform: rotate(172.8deg);
    }
  }
  @keyframes loading-97 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(169.2deg);
      transform: rotate(169.2deg);
    }
  }
  @keyframes loading-96 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(165.6deg);
      transform: rotate(165.6deg);
    }
  }
  @keyframes loading-95 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(162deg);
      transform: rotate(162deg);
    }
  }
  @keyframes loading-94 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(158.4deg);
      transform: rotate(158.4deg);
    }
  }
  @keyframes loading-93 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(154.8deg);
      transform: rotate(154.8deg);
    }
  }
  @keyframes loading-92 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(151.2deg);
      transform: rotate(151.2deg);
    }
  }
  @keyframes loading-91 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(147.6deg);
      transform: rotate(147.6deg);
    }
  }
  @keyframes loading-90 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
    }
  }
  @keyframes loading-89 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(140.4deg);
      transform: rotate(140.4deg);
    }
  }
  @keyframes loading-88 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(136.8deg);
      transform: rotate(136.8deg);
    }
  }
  @keyframes loading-87 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(133.2deg);
      transform: rotate(133.2deg);
    }
  }
  @keyframes loading-86 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(129.6deg);
      transform: rotate(129.6deg);
    }
  }
  @keyframes loading-85 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
    }
  }
  @keyframes loading-84 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(122.4deg);
      transform: rotate(122.4deg);
    }
  }
  @keyframes loading-83 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(118.8deg);
      transform: rotate(118.8deg);
    }
  }
  @keyframes loading-82 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(115.2deg);
      transform: rotate(115.2deg);
    }
  }
  @keyframes loading-81 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(111.6deg);
      transform: rotate(111.6deg);
    }
  }
  @keyframes loading-80 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(108deg);
      transform: rotate(108deg);
    }
  }
  @keyframes loading-79 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(104.4deg);
      transform: rotate(104.4deg);
    }
  }
  @keyframes loading-78 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(100.8deg);
      transform: rotate(100.8deg);
    }
  }
  @keyframes loading-77 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(97.2deg);
      transform: rotate(97.2deg);
    }
  }
  @keyframes loading-76 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(93.6deg);
      transform: rotate(93.6deg);
    }
  }
  @keyframes loading-75 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  @keyframes loading-74 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(86.4deg);
      transform: rotate(86.4deg);
    }
  }
  @keyframes loading-73 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(82.8deg);
      transform: rotate(82.8deg);
    }
  }
  @keyframes loading-72 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(79.2deg);
      transform: rotate(79.2deg);
    }
  }
  @keyframes loading-71 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(75.6deg);
      transform: rotate(75.6deg);
    }
  }
  @keyframes loading-70 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(72deg);
      transform: rotate(72deg);
    }
  }
  @keyframes loading-69 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(68.4deg);
      transform: rotate(68.4deg);
    }
  }
  @keyframes loading-68 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(64.8deg);
      transform: rotate(64.8deg);
    }
  }
  @keyframes loading-67 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(61.2deg);
      transform: rotate(61.2deg);
    }
  }
  @keyframes loading-66 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(57.6deg);
      transform: rotate(57.6deg);
    }
  }
  @keyframes loading-65 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(54deg);
      transform: rotate(54deg);
    }
  }
  @keyframes loading-64 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(50.4deg);
      transform: rotate(50.4deg);
    }
  }
  @keyframes loading-63 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(46.8deg);
      transform: rotate(46.8deg);
    }
  }
  @keyframes loading-62 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(43.2deg);
      transform: rotate(43.2deg);
    }
  }
  @keyframes loading-61 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(39.6deg);
      transform: rotate(39.6deg);
    }
  }
  @keyframes loading-60 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
    }
  }
  @keyframes loading-59 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(32.4deg);
      transform: rotate(32.4deg);
    }
  }
  @keyframes loading-58 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(28.8deg);
      transform: rotate(28.8deg);
    }
  }
  @keyframes loading-57 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(25.2deg);
      transform: rotate(25.2deg);
    }
  }
  @keyframes loading-56 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(21.6deg);
      transform: rotate(21.6deg);
    }
  }
  @keyframes loading-55 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(18deg);
      transform: rotate(18deg);
    }
  }
  @keyframes loading-54 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(14.4deg);
      transform: rotate(14.4deg);
    }
  }
  @keyframes loading-53 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(10.8deg);
      transform: rotate(10.8deg);
    }
  }
  @keyframes loading-52 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(7.2deg);
      transform: rotate(7.2deg);
    }
  }
  @keyframes loading-51 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(3.6deg);
      transform: rotate(3.6deg);
    }
  }
  @keyframes loading-50 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @media only screen and (max-width: 990px) {
    .progress {
      margin-bottom: 20px;
    }
  }
} // end lingkaran review besar