#loader{
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color:rgba(67, 165, 153, 0.8);
  border-radius: 100%;

  position: fixed;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: round 2s linear infinite;
}

@keyframes round{
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}

#kontent{
  visibility: hidden;
}