.big-metro-review {
  height: 250px;
  position: relative;
  background-size: cover !important;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  background-position: center;
  &:hover {
    .overlay {
      opacity: .35;
    }
  }
  .news-title {
    position: absolute;
    padding-right: 30px;
    bottom: 17%;
    left: 5%;
    color: #fff;
    font-size: 31px;
    font-weight: 900;
    line-height: 35px;
    font-family: $lato;
    z-index: 5;
  }
  .news-footage {
    position: absolute;
    padding-right: 30px;
    font-weight: 700;
    bottom: 5%;
    left: 5%;
    color: #9d9d9d;
    font-family: $openSans;
    z-index: 5;
    span {
      color: #43a599 !important;
    }
  }
  .big-tag {
    position: absolute;
    font-size: 14px;
    top: 3%;
    left: 5%;
    padding: 3px 16px;
    background-color: rgba(2, 159, 198, .8);
    color: #fff;
    font-weight: $bold;
    z-index: 3;
  }
}

.bg-kat-jam {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75)), url(../images/Kategori/header-watch.jpg);
  height: 150px;
  img {
    margin-top: 35px;
  }
}

.bg-kat-audio {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../images/Kategori/header-audiophile3.jpg);
  height: 150px;
  img {
    margin-top: 35px;
  }
}

.top-pilihan-kat {
  .nav-top-pil-prev {
    position: absolute;
    color: #e2e2e2;
    left: 5%;
    top: 52px;
    z-index: 99;
    opacity: 0.5;
    font-family: $openSans;
    span {
      position: absolute;
      top: 13%;
      left: 25px;
      opacity: 0.7;
      display: none;
    }
    .fa {
      font-weight: 700;
      font-size: 2em;
    }
    &:hover {
      opacity: 0.90;
      span {
        display: block !important;
      }
    }
  }
  .nav-top-pil-next {
    position: absolute;
    color: #e2e2e2;
    right: 5%;
    top: 52px;
    z-index: 99;
    opacity: 0.5;
    font-family: $openSans;
    span {
      position: absolute;
      top: 13%;
      right: 25px;
      display: none;
      opacity: 0.90;
    }
    .fa {
      font-weight: 700;
      font-size: 2em;
    }
    &:hover {
      opacity: 0.7;
      span {
        display: block !important;
      }
    }
  }
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #d9dede;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .profile-header {
    position: relative;
    margin: 16px 16px 16px 5px;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 2px solid #e2e2e2;
    &:hover {
      border: 2px solid #02a0c7;
    }
  }
  h1 {
    margin: 15px 0 15px 0px !important;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    font-family: $lato;
  }
  h2 {
    margin: 5px 0 0px 0px;
    font-size: 18px;
    font-weight: $bold;
    color: #fff;
  }
  p {
    margin: 5px 0 5px 0px;
    font-size: 16px;
    font-weight: 400;
    color: #0FAA9E;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .btn {
    padding: 8px 15px;
  }
  .btn-outline-pilihan {
    color: #fff;
    border: solid 1px #f4f4f4 !important;
    font-size: 13px;
    background: transparent !important;
    &:hover {
      background: rgba(255, 255, 255, 0.1) !important;
    }
  }
}

.top-nav-tab {
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #d9dede;
  height: 48px;
  -webkit-box-shadow: 0 2px 1px rgba(51, 51, 51, 0.05);
  box-shadow: 0 2px 1px rgba(51, 51, 51, 0.05);
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
  font-size: 14px;
  ul {
    li {
      margin-right: 10px;
      font-family: $lato;
      a {
        color: #757373;
        display: inline-block;
        margin-left: 0;
        padding: 0 10px;
        position: relative;
        border-top: 2px solid #fdfdfd;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        span {
          font-size: 13.5px;
          opacity: 0.7;
          .fa-lock {
            opacity: 1 !important;
          }
        } // &:hover {
        //   border-bottom-color: #0095B9;
        //   color: #00aeda;
        //   -webkit-transition: all 0.5s ease;
        //   -moz-transition: all 0.5s ease;
        //   -o-transition: all 0.5s ease;
        //   transition: all 0.5s ease;
        // }
      }
      .active {
        color: #5e5e5e;
        border-bottom-color: #0095B9;
        position: static;
        font-weight: $bold;
      }
    }
  }
}

.sp-content-kategori {
  position: relative;
  margin-bottom: 12px;
  box-shadow: 1px 2px 5px 0 rgba(52, 40, 22, .04), 0 1px 2px 0 rgba(53, 40, 22, .04);
  z-index: 1;
  .card-columns {
    @media (min-width: 79px) {
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
    }
    @media (min-width: 800px) {
      column-count: 3;
      -webkit-column-count: 3;
      -moz-column-count: 3;
    }
    @media (min-width: 1200px) {
      column-count: 4;
      -webkit-column-count: 4;
      -moz-column-count: 4;
    }
    .card {
      position: relative;
      margin-bottom: 12px;
      background-color: #fff;
      border: 1px solid #e2e2e2;
      &:hover {
        border-radius: 5px;
        border: 1px solid #e2e2e2;
        box-shadow: 1px 2px 5px 0 rgba(52, 40, 22, .04), 0 1px 2px 0 rgba(53, 40, 22, .04);
      }
      .explore-review-img {
        height: 200px;
        object-fit: cover;
      }
      .user {
        display: inline-block;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid #eee;
      }
      .tag-lil-review {
        font-family: $lato;
        position: absolute;
        top: 0;
        left: 7%;
        padding: 3px 15px;
        font-size: 13px;
        background-color: #029fc6;
        color: #fff;
        font-weight: $bold;
      }
      .card-header {
        background-color: transparent;
        border-bottom: 0;
        .media {
          .media-body {
            padding-top: 5px;
            line-height: 17px;
            .label-username {
              color: #394741;
              font-family: $lato;
              font-size: 16px;
              font-weight: 700;
            }
            .follow {
              color: #7ac3c1;
              font-family: $lato;
              font-size: 14px;
              font-weight: 700;
              padding-left: 5px;
            }
            .label-trending {
              color: #ff4866;
              font-family: $lato;
              font-size: 12px;
              font-weight: 700;
            }
            .label-review {
              color: #5e5e5e;
              font-family: $lato;
              font-size: 11px;
              font-weight: 400;
            }
          }
        }
        .kat {
          font-family: $lato;
          font-size: 11.9px;
          font-weight: 700;
        }
        .link {
          color: #6e6e6e !important;
        }
      }
      .reviewer {
        line-height: 19px;
        text-align: justify;
        text-justify: inter-word;
        padding: 0 15px 10px;
        font-family: $lato;
        font-size: 12.5px;
        color: #6e6e6e;
        .media-body {
          img {
            width: 100% !important;
          }
        }
      }
      .card-body {
        padding-top: 10px;
        padding-right: 53px;
        padding-bottom: 10px;
        padding-left: 15px;
        position: absolute;
        bottom: 37px;
        background-color: rgba(255, 255, 255, 0.7);
        width: 100%;
        .card-title {
          color: #3e3e3e;
          padding-bottom: 0px;
          font-weight: 700;
          font-family: $lato;
          font-size: 15.5px;
          line-height: 18px;
          margin: 0;
        }
      }
      .card-footer {
        padding: 0.5rem 1rem;
        font-size: 13.6px;
        color: #777777;
        background: transparent;
        b {
          color: #7f7f7f;
          font-weight: 400;
          font-family: $lato;
          font-size: 13px;
        }
        a {
          text-decoration: none;
          color: #029FC6;
        }
      }
    }
  }
}

.grid {
  .card-review {
    box-shadow: 1px 2px 5px 0 rgba(52, 40, 22, .04), 0 1px 2px 0 rgba(53, 40, 22, .04);
    background-color: #fff;
    &:hover {
      .review-image {
        .overlay3 {
          opacity: .0;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
      }
    }
  }
  .media {
    padding-top: 20px;
    padding-left: 22px;
    padding-bottom: 8px;
    .user {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
    .media-body {
      font-family: $lato;
      padding-left: 13px;
      padding-top: 0px;
      line-height: 16px;
      .label-username {
        color: #394741;
        font-size: 16px;
        font-weight: 700;
      }
      .follow {
        display: inline-block;
        color: #7ac3c1;
        font-size: 12px;
        font-weight: 700;
        padding: 0 0 0px 8px;
      }
      .label-trending {
        color: #FF001A;
        font-size: 12px;
        font-weight: 700;
      }
      .label-review {
        color: #5e5e5e;
        font-size: 11px;
        font-weight: 400;
      }
      .btn-outline-pilihan {
        background: none;
        border: none;
      }
      .btn {
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
  .review-image {
    width: 100%;
    background-size: cover !important;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    background-position: center;
    .label-trending {
      position: absolute;
      left: 5%;
      top: 3%;
      font-size: 14px;
      font-weight: 700;
      color: #FF0042;
    }
    .review-title {
      position: absolute;
      padding-right: 30px;
      bottom: 50px;
      left: 5%;
      color: #fff;
      font-size: 24px;
      font-weight: 900;
      line-height: 28px;
      font-family: $lato;
      z-index: 5;
    }
    .sub-cat {
      position: absolute;
      padding-right: 30px;
      bottom: 15px;
      left: 5%;
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      line-height: 33px;
      font-family: $lato;
      z-index: 5;
    }
  }
  .tag-review {
    p {
      margin: 0;
    }
    .hov-kat {
      &:hover {
        color: #00B9E8;
      }
    }
    .hov-sub-kat {
      &:hover {
        color: #37ecba;
      }
    }
    .hov-brand {
      &:hover {
        color: #fe5196;
      }
    }
    a {
      display: inline !important;
      color: #6d6d6d;
    }
    padding: 10px 22px;
    color: #8d8d8d;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 20px;
    font-family: $openSans;
  }
  .review-title2 {
    a {
      font-family: $lato;
      padding: 0 22px 15px;
      color: #4d4d4d;
      font-size: 20px;
      font-weight: 900;
      line-height: 26px;
      z-index: 5;
    }
  }
  .review-title-review {
    font-family: $lato;
    padding: 0 22px 7px;
    font-size: 14px;
    font-weight: 700;
    color: #7d7d7d;
    p {
      margin-bottom: 0;
    }
    a {
      color: #4d4d4d;
      font-size: 16px;
      font-weight: 900;
      line-height: 26px;
      display: inline-block;
    }
  }
  .review-content {
    padding: 6px 22px;
    img {
      width: 30%;
      padding: 5px 10px 2px 0;
      float: left;
    }
    p {
      font-family: $lato;
      font-size: 14px;
      color: #7d7d7d;
      outline: none;
      word-wrap: break-word;
    }
  }
  .review-footer {
    position: relative;
    &:before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 100%;
      border-bottom: 2px solid #eee;
      margin-bottom: 11px;
    }
    padding: 0 22px 17px;
    color: #6d6d6d !important;
    font-weight: 400;
    font-family: $lato;
    font-size: .8rem;
  }
  .dot {
    font-size: 12px;
    color: #7d7d7d;
  }
  .fa-line-chart {
    color: #ff0042;
  }
}